<%# 
PARTIAL ROUTE: pages/quotes.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
- locals.auth>
- locals.jsNonce
- locals.quotesHTML
%>
<%if(locals.fullPageRequest||locals.pageRequest){%>
    
    <h1 class="page-title" id="about-site">Frank's Quote Page</h1>
<section id="about-this-page" class="mt-4">
    <h2 class="bold bb-thick h2">
      <a href="#about-this-page" class="same-page bold">About This Page</a>
    </h2>
    <div class="mt-2">
        I decided to add a quote page to this site à la <a class="secondary link" target="_blank" href="https://paulgraham.com/quo.html">Paul Graham's Quotes</a> page on his website. I have been reading a textbook and each of the chapters begins with a quote, and I found one that was pretty good - one that I wanted to keep in mind, so I decided to create this page.
    </div>
</section>
<%if(locals.auth>=3){%>
    <section id="add-a-quote" class="mt-4">
      <div class="flex-row bb-main justify-between align-center">
        <h2 class="bold h2">
          <a href="#add-a-quote" class="same-page bold">Add A Quote</a>
        </h2>
        <button type="button" class="small icon-text text warning" data-hide-show="" data-el="#hide-add-quote">
          <svg data-arrow="" focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="KeyboardArrowUp"><path d="M7.41 15.41 12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>
          <span data-hide="">HIDE</span>
          <span data-show="" hidden="">SHOW</span>
        </button>
      </div>
      <div id="hide-add-quote">
        <div id="quote-form-wrapper">
            <p class="mt-2 t-warning">
                * - implies that the input is required.
            </p>
            <form hx-post="/quotes" hx-indicator="" hx-trigger="submit" hx-target="this" hx-swap="afterEnd" id="post-quote-form">
                <div class="input-group block mt-2" data-hover="false" data-focus="false" data-error="false" data-blurred="false"> 
                  <label for="quote-input">Quote*:</label>
                  <div class="mt-1 text-input block medium disabled">
                      <textarea 
                      name="quote-input" 
                      id="quote-input" 
                      placeholder="Enter the quote here" 
                      rows="5" 
                      style="resize: vertical !important;;"
                      maxlength="3000" 
                      minlength="1" 
                      spellcheck="true"
                      autocomplete="off"
                      autocapitalize="on"
                      ></textarea>
                  </div>
                  <p class="char-counter" data-input="quote-input">
                      <span class="min-counter body2" data-val="1" aria-hidden="false">more characters required</span>
                      <span class="max-counter body2" data-val="3000" aria-hidden="true">Characters Remaining</span>
                  </p>
                </div>
                <div class="input-group block" data-hover="false" data-focus="false" data-error="false" data-blurred="true">
                  <label for="quote-citation">Quote Citation*:</label>
                  <div class="text-input block medium">
                      <input 
                      type="text" 
                      name="quote-citation" 
                      id="quote-citation" 
                      class="medium icon-before mt-1" 
                      required
                      placeholder="Enter a citation for the quote..." 
                      maxlength="200"
                      minlength="1" 
                      spellcheck="true" 
                      autocapitalize="off"
                      >
                      <svg class="icon-before" focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="NoteAlt"><path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1s-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7-.25c.41 0 .75.34.75.75s-.34.75-.75.75-.75-.34-.75-.75.34-.75.75-.75zM9.1 17H7v-2.14l5.96-5.96 2.12 2.12L9.1 17zm7.75-7.73-1.06 1.06-2.12-2.12 1.06-1.06c.2-.2.51-.2.71 0l1.41 1.41c.2.2.2.51 0 .71z"></path></svg>
                  </div>
                </div>
                <div class="input-group block mt-2" data-hover="false" data-focus="false" data-error="false" data-blurred="true">
                  <label for="quote-citation-url">Quote Citation URL:</label>
                  <div class="text-input block medium">
                      <input
                      name="quote-citation-url"
                      id="quote-citation-url" 
                      class="mt-1 
                      medium icon-before" 
                      placeholder="Enter a citation url for the quote..." 
                      autocomplete="off" 
                      autocapitalize="off" 
                      spellcheck="false" 
                      type="url" 
                      >
                      <svg class="icon-before" focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Link">
                          <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z">
                          </path>
                      </svg>
                  </div>
                </div>
                <div class="mt-2">
                    <p class="fw-regular" style="font-size: 1.1rem;">What do You Like About the Quote?</p>
                    <div data-editor-wrapper id="what-you-liked-about-quote">
                        <div data-theme="vscode" data-codemirror="html" style="min-height: 200px;" data-type="min" id="what-you-liked-about-quote-inner"><p>Enter some HTML For what you like about the quote...</p></div>
                              </div>
                </div>

                <div class="flex-row justify-between mt-3">
                    <div class="flex-row gap-2" style="width: auto;">
                        <input role="button" value="RESET"  type="reset" aria-label="Reset Form"></input>
                        <button type="button" class="icon-text medium filled info" id="preview-quote-btn">
                            <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Preview"><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm0 16H5V7h14v12zm-5.5-6c0 .83-.67 1.5-1.5 1.5s-1.5-.67-1.5-1.5.67-1.5 1.5-1.5 1.5.67 1.5 1.5zM12 9c-2.73 0-5.06 1.66-6 4 .94 2.34 3.27 4 6 4s5.06-1.66 6-4c-.94-2.34-3.27-4-6-4zm0 6.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path></svg>
                            PREVIEW QUOTE
                        </button>
                    </div>
                    
                    <button type="submit" aria-label="Submit" class="success filled icon-text medium">
                        <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Send"><path d="M2.01 21 23 12 2.01 3 2 10l15 2-15 2z"></path></svg>
                        SUBMIT
                    </button>
                </div>
            </form>
            <p class="h4 bb mt-3 bold">
                Output:
            </p>
            <output form="quote-form-wrapper" id="quote-form-output">
               
            </output>
            <script defer nonce="<%=locals.jsNonce%>">
                (function() {
                    const preview = document.getElementById('preview-quote-btn');
                    const output = document.getElementById('quote-form-output');
                    const editor = document.getElementById('what-you-liked-about-quote');
                    if (preview&&output&&editor) {
                        editor.addEventListener('GOT_CODEMIRROR_TEXT',(e) => {
                            if (e&&e.detail&&typeof e.detail.code==="string") {
                                const codeText = e.detail.code;
                                const quoteTextArea = document.getElementById('quote-input');
                                const quoteCitationInput = document.getElementById('quote-citation');
                                const quoteCitationUrlInput = document.getElementById('quote-citation-url');
                                const map = {
                                    '&': '&amp;',
                                    '<': '&lt;',
                                    '>': '&gt;',
                                    '"': '&quot;',
                                    "'": '&#x27;',
                                    "/": '&#x2F;',
                                };
                                const reg = /[&<>"'/]/ig;
                                if (quoteTextArea&&quoteCitationInput&&quoteCitationUrlInput) {
                                    const quoteText = quoteTextArea.value;
                                    const quote = quoteText.split(/\n/g).map((str) => str.split(/(\t|(\s\s\s\s))/g)).map((subArr) => subArr.map((str) => str.replace(reg, (match)=>(map[match])))).map((subArr) => subArr.join('<span style="whitespace: preserve;">    </span>')).join('<br />');
                                    var url = null;
                                    try {
                                        const urlObj = new URL(quoteCitationUrlInput.value);
                                        url = urlObj.href;
                                    } catch (error) {
                                        console.error(error);
                                    }
                                    const quoteCitation = quoteCitationInput.value.replace(reg, (match)=>(map[match]));
                                    const wrapper = document.createElement('div');
                                    wrapper.style.cssText="padding: 4px; border-bottom: 2px solid var(--divider);";
                                    wrapper.setAttribute('data-quote','');
                                    const blockq = document.createElement('blockquote');
                                    blockq.classList.add('blockquote');
                                    if (url) blockq.setAttribute('cite',url);
                                    blockq.innerHTML = quote;
                                    blockq.insertAdjacentHTML('beforeend','<br/>');
                                    if (url) {
                                        const a = document.createElement('a');
                                        a.className="secondary link fw-regular";
                                        a.setAttribute('target','_blank');
                                        a.setAttribute('href',url);
                                        a.innerText=quoteCitation;
                                        blockq.append(a);
                                    } else {
                                        const i = document.createElement('i');
                                        i.className="italic fw-regular";
                                        i.innerText=quoteCitation;
                                        blockq.append(i);
                                    }
                                    wrapper.append(blockq);
                                    wrapper.insertAdjacentHTML("beforeend",codeText);
                                    output.append(wrapper);
                                }
                            }
                        })
                        preview.addEventListener('click',(e) => {
                            output.innerHTML = '';
                            document.dispatchEvent(new CustomEvent('GET_CODEMIRROR_TEXT',{ detail: { id: "what-you-liked-about-quote" }}));
                        })
                    } else {
                        console.error("Unable to find components",preview,output,editor);
                    }
                })()
            </script>
        </div>
      </div>

    </section>
    
<%}%>
<section id="quotes-quotes" class="mt-4">
    <h2 class="bold bb-thick h2">
      <a href="#quotes-quotes" class="same-page bold">Quotes</a>
    </h2>
    <div id="quotes-section" class="mt-2">
        <%-locals.quotesHTML%>
    </div>
</section>

<%-include('../partials/pagePartial')%>
<%}%>