<%# 
PARTIAL ROUTE: partials/routes/various-image-tasks/caption.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.response
%>
<%# Caption %>

<h3 class="h3 bold mt-2 bb">Image Caption Response</h3>

<p class="mt-2">
    <%=locals.response.caption%>
</p>

