<%# 
PARTIAL ROUTE: partials/routes/various-image-tasks/keypoint-detection.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.imageHTML
- locals.response
- locals.response[i]
%>
<%#  Keypoint Detection %>

<h3 class="h3 bold mt-2 bb">Keypoint Detection Response</h3>

<%-locals.imageHTML%>

<div class="table-wrapper mt-2" style="max-height: 500px; overflow-y: auto;">
    <table cellspacing="0">
        <thead>
            <tr>
            <th scope="col">Keypoint</th>
            <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            <%for(let i =0; i < locals.response.length; i++){%>
                <tr>
                    <td><%=locals.response[i].keypoint%></td>
                    <td><%=locals.response[i].score%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
</div>