<%# 
PARTIAL ROUTE: dialogs/settingsDialog.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.phone (boolean): Is the user's device a phone?
- locals.desktop (boolean): Is the user's device a desktop?
%>
<div hidden style="display: none;" <%-locals.phone?'class="dialog-wrapper whole"':'class="dialog-wrapper"'%> id="settings-dialog"  data-close-backdrop data-esc >
  <div class="dialog <%=locals.phone===true?'whole':'large'%>" data-click-capture>
    <div class="dialog-header">
      <p class="grow-1 flex-row h3 bold">Settings</p>
      <%if(locals.desktop===true){%>
        <kbd class="inline" style="margin-right: 4px;"  data-pelem="#close-dialog-esc-settings" aria-describedby="close-dialog-esc-settings" data-mouse data-popover>ESC</kbd>
        <div id="close-dialog-esc-settings" role="tooltip" class="tooltip body2" data-placement="bottom-end">
          Press the Escape key to Close the Dialog
        </div>
      <%}%>
      <button class="icon medium close-dialog" type="button" aria-label="Close Dialog">
        <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Close"><path d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
      </button>
    </div>
    <div class="dialog-body">
      <div class="flex-row justify-center t-primary mt-2 htmx-indicator" role="progressbar" aria-busy="false" aria-label="Settings Dialog Form Indicator" id="settings-dialog-form-indicator">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>

      <form id="settings-dialog-form" hx-trigger="change" hx-target="#application-styles" hx-post="/api/settings">
      </form>
    
    </div>
    <div class="dialog-footer" role="toolbar">
      <button class="filled error small close-dialog" type="button" aria-label="Close Dialog">
        CLOSE DIALOG
      </button>
    </div>
  </div>
</div>
