<%# 
PARTIAL ROUTE: pages/account/reset-credentials.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
- locals.jsNonce
%>
<%if(locals.fullPageRequest||locals.pageRequest){%>
  
  <h1 class="page-title">Reset Username / Password</h1>
  <div class="flex-row justify-center">
    <div style="display: inline-block; max-width: 100%; width: 600px;">
      <section id="about-resetting-credentials" style="margin-bottom: 1.5rem;" class="mt-3">
        <h2 class="bb-thick flex-row align-center justify-between w-100" style="padding-bottom: 4px;">
          <a href="#about-resetting-credentials" class="same-page fw-regular h2">About Resetting Login Credentials</a>
          <button id="hide-show-create-account" class="icon-text medium warning text" type="button" >
            <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="KeyboardArrowUp"><path d="M7.41 15.41 12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>
            <span >HIDE</span>
          </button>
        </h2>
        <ul class="mt-2">
          <li>
            Enter the email associated with your frankmbrown.net account. If you forgot your email, then you should create a new account - there is no way to reset the email associated with your account.
          </li>
          <li>  
            Enter a new username and password for your account.
          </li>
          <li>
            Your username must be unique, less than 50 characters, at least 4 characters, must not contain spaces, and must not be equal to '<span class="t-primary bold">Anonymous</span>'. 
          </li>
          <li>
            Your password must be at least 8 characters long, contain a number, contain capital letter, contain a lowercase letter, and contain a special character. (A special character is defined as any character that is not a digit, lowercase letter, or capital letter.)
          </li>
          <li>
            We will send you an email to confirm your identity when resetting your login credentials.
          </li>
        </ul>
      </section>
    </div>
    
  </div>
 

  <script nonce="<%=locals.jsNonce%>">
    (function(){
      const b = document.getElementById('hide-show-create-account');
      if(b) {
        b.addEventListener('click',() => {
          const section = b.closest('section');
          const svg = b.querySelector('svg');
          const span = b.querySelector('span');
          if (section) {
            const ul = section.querySelector('ul');
            if (ul) {
              if (ul.hasAttribute('hidden')) {
                b.classList.remove('success');
                b.classList.add('warning');
                svg.style.cssText='';
                span.innerText='HIDE';
                ul.removeAttribute('hidden');
              } else {
                b.classList.add('success');
                b.classList.remove('warning');
                svg.style.cssText='transform:rotate(180deg);';
                span.innerText='SHOW';
                ul.setAttribute('hidden','');
              }
            }
          }
        })
      }
    })()
  </script>
    <div>
      <div id="reset-creds-ind" class=" mt-1 flex-row justify-center t-primary htmx-indicator" role="progressbar" aria-busy="false">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>
      <%-include('./resetCredentialsForm')%>
    </div>
  

  <%-include('../../partials/pagePartial')%>
  <%}%>