<%# 
PARTIAL ROUTE: pages/admin/admin-view-video.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
- locals.initialHTML
%>
<%if(locals.fullPageRequest||locals.pageRequest){%>
  
    <h1 class="page-title">Create a Game or Design</h1>

    <section id="what-is-this" class="mt-4">
        <h2 class="bold bb-thick h2">
          <a href="#what-is-this" class="same-page bold">
            What is This
          </a>
        </h2>
        <p class="mt-2">
            I am using this page to test out games / designs that I will create. Change the code for the game / design by editing the <span class="text-code">static\js\constant\game-asset-test.js</span> file, and add any extra HTML that you might need for the game design below. 
        </p>
    </section>
    

   <section id="" class="mt-4">
       <h2 class="bold bb-thick h2">
         <a href="#" class="same-page bold">
           Game/Design
         </a>
       </h2>

       <div data-editor-wrapper id="extra-html-needed-game" >
        <div data-theme="vscode" data-codemirror="html" data-type="mid" id="extra-html-need"></div>
       </div>
       <div class="flex-row justify-center mt-2">
        <button type="button" class="large warning filled" id="reload-game-html" aria-label="Reload Game HTML">
            RELOAD GAME HTML
        </button>
       </div>

       <div id="extra-html" class="mt-2"></div>
       <div style="position: relative; max-width: 400px; max-height: 400px; margin: 6px auto;" class="mt-2" id="main-canvas-wrapper">
            <button data-fullscreen-btn="" data-el="#main-canvas-wrapper" type="button" class="icon medium fullscreen-btn" aria-label="Enter / Exit Fullscreen">
                <svg data-enter="" focusable="false" inert="" viewBox="0 0 24 24" tabindex="-1" title="Fullscreen"><path d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"></path></svg>
                <svg data-exit="" hidden="" focusable="false" inert="" viewBox="0 0 24 24" tabindex="-1" title="FullscreenExit"><path d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"></path></svg>
            </button>
            <canvas id="main-canvas" width="400" height="400"></canvas>
        </div>
   </section>

    <script id="replace-this-script" nonce="<%=locals.jsNonce%>" defer src="/static/js/constant/game-asset-test.js" type="module"></script>

    <script defer nonce="<%=locals.jsNonce%>" type="module">
    (() => {
        const s = window.localStorage.getItem("temp-js");
        if (s) {
            document.getElementById('extra-html').innerText = s;
        }
        const el = document.getElementById('extra-html-need');
        el.addEventListener('change',() => {
            const html = window?.getCodeMirrorEditorText('extra-html-needed-game');
            if (typeof html==="string") {
                window.localStorage.setItem("temp-js",html);
            }
        })
    })()
    </script>

    <%-include('../../partials/pagePartial')%>
  <%}%>