<%# 
PARTIAL ROUTE: pages/admin/admin-home.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
- locals.pageObj
%>
<%if(locals.fullPageRequest||locals.pageRequest){%>
  
  <h1 class="page-title">Admin Page</h1>

    <section id="take-actions" class="mt-3">
      <h3 class="bold bb-thick h2 w-100 flex-row justify-between">
        <a href="#take-actions" class="same-page fw-regular">Take Actions</a>
      </h3>

      <div class="flex-row wrap gap-3 align-center justify-start mt-2">
        <button hx-get="/admin/blog" hx-target="#PAGE" hx-indicator="#page-transition-progress" hx-push-url="true" type="button" class="icon-text medium filled info">
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Article"><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"></path></svg>
          WRITE BLOG
        </button>
        <button hx-get="/admin/note" hx-target="#PAGE" hx-indicator="#page-transition-progress" hx-push-url="true" type="button" class="icon-text medium filled secondary">
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Note"><path d="m22 10-6-6H4c-1.1 0-2 .9-2 2v12.01c0 1.1.9 1.99 2 1.99l16-.01c1.1 0 2-.89 2-1.99v-8zm-7-4.5 5.5 5.5H15V5.5z"></path></svg>
          TAKE NOTES
        </button>
        <button hx-get="/admin/idea" hx-target="#PAGE" hx-indicator="#page-transition-progress" hx-push-url="true" type="button" class="icon-text medium filled primary">
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Lightbulb"><path d="M9 21c0 .5.4 1 1 1h4c.6 0 1-.5 1-1v-1H9v1zm3-19C8.1 2 5 5.1 5 9c0 2.4 1.2 4.5 3 5.7V17c0 .5.4 1 1 1h6c.6 0 1-.5 1-1v-2.3c1.8-1.3 3-3.4 3-5.7 0-3.9-3.1-7-7-7z"></path></svg>
          ADD IDEA
        </button>
        <button hx-get="/admin/diary" hx-target="#PAGE" hx-indicator="#page-transition-progress" hx-push-url="true" type="button" class="icon-text medium filled success">
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="RemoveRedEye"><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"></path></svg>
          VIEW DIARY ENTRIES
        </button>
        <button hx-get="/admin/view-images" hx-target="#PAGE" hx-indicator="#page-transition-progress" hx-push-url="true" type="button" class="icon-text medium filled error">
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Image"><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"></path></svg>
          VIEW IMAGES
        </button>
        <button hx-get="/admin/view-audio" hx-target="#PAGE" hx-indicator="#page-transition-progress" hx-push-url="true" type="button" class="icon-text medium filled warning">
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Audiotrack"><path d="M12 3v9.28c-.47-.17-.97-.28-1.5-.28C8.01 12 6 14.01 6 16.5S8.01 21 10.5 21c2.31 0 4.2-1.75 4.45-4H15V6h4V3h-7z"></path></svg>
          VIEW AUDIO
        </button>
        <button hx-get="/admin/view-video" hx-target="#PAGE" hx-indicator="#page-transition-progress" hx-push-url="true" type="button" class="icon-text medium outlined info">
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Videocam"><path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4z"></path></svg>
          VIEW VIDEO
        </button>
        <button hx-get="/admin/create-chart" hx-target="#PAGE" hx-indicator="#page-transition-progress" hx-push-url="true" type="button" class="icon-text medium outlined secondary">
          <svg viewBox="0 0 512 512" title="chart-line" focusable="false" inert tabindex="-1"><path d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z"></path></svg>
          CREATE CHART
        </button>
        <button hx-get="/admin/to-dos" hx-target="#PAGE" hx-indicator="#page-transition-progress" hx-push-url="true" type="button" class="icon-text medium outlined primary">
          <svg viewBox="0 0 384 512" title="clipboard-list" focusable="false" inert tabindex="-1"><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM72 272a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm104-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16zM72 368a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm88 0c0-8.8 7.2-16 16-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16z"></path></svg>
          TO DOs
        </button>
        <button hx-get="/admin/create-game-design" hx-target="#PAGE" hx-indicator="#page-transition-progress" hx-push-url="true" type="button" class="icon-text medium outlined success">
          <svg viewBox="0 0 640 512" title="gamepad" focusable="false" inert tabindex="-1"><path d="M192 64C86 64 0 150 0 256S86 448 192 448H448c106 0 192-86 192-192s-86-192-192-192H192zM496 168a40 40 0 1 1 0 80 40 40 0 1 1 0-80zM392 304a40 40 0 1 1 80 0 40 40 0 1 1 -80 0zM168 200c0-13.3 10.7-24 24-24s24 10.7 24 24v32h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H216v32c0 13.3-10.7 24-24 24s-24-10.7-24-24V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h32V200z"></path></svg>
          CREATE GAME / DESIGN
        </button>
      </div>
      <div style="margin-top: 3rem;">
        <div style="border: 2px solid var(--divider); padding: 0.35rem;" hx-trigger="click" hx-get="/admin/utilities/clear-cache" data-loading="Clearing Cache..." hx-target="this" hx-swap="afterend">
            <div class="block text-align-center">
                <button type="button" class="icon-text large filled primary" style="margin: auto;">
                    <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Cached"><path d="m19 8-4 4h3c0 3.31-2.69 6-6 6-1.01 0-1.97-.25-2.8-.7l-1.46 1.46C8.97 19.54 10.43 20 12 20c4.42 0 8-3.58 8-8h3l-4-4zM6 12c0-3.31 2.69-6 6-6 1.01 0 1.97.25 2.8.7l1.46-1.46C15.03 4.46 13.57 4 12 4c-4.42 0-8 3.58-8 8H1l4 4 4-4H6z"></path></svg>
                    CLEAR CACHE
                </button>
            </div>
            <p class="mt-2 h6">
                Clear cache - this is pretty self explanatory.
            </p>
        </div>
        <div class="mt-4" style="border: 2px solid var(--divider); padding: 0.35rem;">
            <div class="block text-align-center">
                <button type="button" class="icon-text large filled secondary" style="margin: auto;" hx-trigger="click" hx-get="/admin/utilities/update-search" data-loading="Populating Search..." hx-target="#update-search-confirm-wrapper" hx-swap="innerHTML">
                    <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="SavedSearch"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zm-2.17-1.5 2.14-1.53 2.14 1.53-.83-2.46 2.15-1.5h-2.62L9.47 6l-.84 2.54H6l2.14 1.49z"></path></svg>
                    UPDATE SEARCH
                </button>
            </div>
            <p class="mt-2 h6">
                Update search - get a sense of all the pages that need to be updated in the database. There will be a confirmation to see if you really want to update all the pages.
            </p>
            <div id="update-search-confirm-wrapper">

            </div>
        </div>
        <div class="mt-4" style="border: 2px solid var(--divider); padding: 0.35rem;">
            <div class="block text-align-center">
                <button type="button" class="icon-text large filled secondary" style="margin: auto;" hx-trigger="click" hx-get="/admin/utilities/update-search-images" data-loading="Getting Pages to Upload for search..." hx-target="#update-search-confirm-wrapper-images" hx-swap="innerHTML">
                    <svg viewBox="0 0 576 512" title="images" focusable="false" inert tabindex="-1"><path d="M160 80H512c8.8 0 16 7.2 16 16V320c0 8.8-7.2 16-16 16H490.8L388.1 178.9c-4.4-6.8-12-10.9-20.1-10.9s-15.7 4.1-20.1 10.9l-52.2 79.8-12.4-16.9c-4.5-6.2-11.7-9.8-19.4-9.8s-14.8 3.6-19.4 9.8L175.6 336H160c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16zM96 96V320c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H160c-35.3 0-64 28.7-64 64zM48 120c0-13.3-10.7-24-24-24S0 106.7 0 120V344c0 75.1 60.9 136 136 136H456c13.3 0 24-10.7 24-24s-10.7-24-24-24H136c-48.6 0-88-39.4-88-88V120zm208 24a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg>
                    UPDATE SEARCH IMAGES
                </button>
            </div>
            <p class="mt-2 h6">
                Update search images - get a sense of all the pages that need to be updated in the database. There will be a confirmation to see if you really want to update all the pages' images.
            </p>
            <div id="update-search-confirm-wrapper-images">

            </div>
        </div>
        <div class="mt-4" style="border: 2px solid var(--divider); padding: 0.35rem;">
            <div class="block text-align-center">
                <button type="button" class="icon-text large outlined secondary" style="margin: auto;" hx-trigger="click" hx-get="/admin/utilities/index-pages" data-loading="Index Pages using Google API..." hx-target="this" hx-swap="afterend">
                    <svg viewBox="0 0 320 512" title="yandex-international" focusable="false" inert tabindex="-1"><path d="M129.5 512V345.9L18.5 48h55.8l81.8 229.7L250.2 0h51.3L180.8 347.8V512h-51.3z"></path></svg>
                    INDEX PAGES
                </button>
            </div>
            <p class="mt-2 h6">
                Use the
                <a class="secondary link" target="_blank" href="https://developers.google.com/search/apis/indexing-api/v3/using-api#:~:text=on%20your%20preferences.-,Overview,you%20have%20sent%20to%20Google.">google indexing api</a>
                to index pages. This helps improve search engine optimization.
            </p>
        </div>

        <div class="mt-4" style="border: 2px solid var(--divider); padding: 0.35rem;">
          <div class="block text-align-center">
              <button type="button" class="icon-text large outlined warning" style="margin: auto;" hx-trigger="click" hx-get="/admin/utilities/email" data-loading="Sending Email to make sure login still works..." hx-target="#c478ffc0-2416-4d80-bb86-6736a374008a" hx-swap="innerHTML">
                <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Email"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z"></path></svg>
                  SEND EMAIL
              </button>
          </div>
          <p class="mt-2 h6">
            Send Email to make sure that the email still works. The SendGrid API has been known to stop working.
          </p>
          
          <div id="c478ffc0-2416-4d80-bb86-6736a374008a"></div>
      </div>
    </div>
    </section>
    
    <section id="personal-diary" class="mt-3">
      <h3 class="bold bb-thick h2 w-100 flex-row justify-between">
        <a href="#personal-diary" class="same-page fw-regular">Today's Personal Diary</a>
        <time class="h4" data-date-format="MM/DD/YYYY" datetime="<%=locals.pageObj.todayDateString%>">
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="CalendarToday">
            <path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z">
            </path>
          </svg>
          <span></span>
        </time>
      </h3>
      <div class="flex-row justify-end mt-1">
        <button type="button" class="filled medium icon-text filled warning" id="reload-yesterday-article">
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Redo"><path d="M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16c1.05-3.19 4.05-5.5 7.6-5.5 1.95 0 3.73.72 5.12 1.88L13 16h9V7l-3.6 3.6z"></path></svg>
          RELOAD YESTERDAY DIARY
        </button>
      </div>
      <script nonce="<%=locals.jsNonce%>">
(() => {
  const b = document.getElementById('reload-yesterday-article');
  const sect = document.getElementById('personal-diary');
  if (b&&sect) {

    const onClick = () => {
      fetch('/api/reload-yesterday-diary',{ headers: { "Content-Type": "application/json" }})
      .then((res) => {
        if (res.status!==200) {
          throw new Error(res.body);
        } else {
          return res.json();
        }
      })
      .then((res) => {
        const editor_state = res['lexical_state'];
        const lexical_editor = sect.querySelector('div.lexical-wrapper');
        if (lexical_editor) {
          const id = lexical_editor.id;
          if (id&&window.setEditorState) {
            window.setEditorState(id,editor_state);
            document.dispatchEvent(new CustomEvent("DISPATCH_SNACKBAR",{ detail: { severity: "success", message: "Successfully inserted yesterday's diary state." }}))
          }
        }
      })
      .catch((e) => {
        console.error(e);
        document.dispatchEvent(new CustomEvent("DISPATCH_SNACKBAR",{ detail: { severity: "error", message: "Something went wrong loading yesterday's diary entry." }}))
      })
    }
    b.addEventListener('click',onClick);
  }
})()      
      </script>
      <%-locals.pageObj.diaryForm%>
      <div id="diary-output"></div>
    </section>

    <section id="project-notifications" class="mt-4">
        <h2 class="bold bb-thick h2">
          <a href="#project-notifications" class="same-page bold">
            Project Notifications
          </a>
        </h2>
        <p class="mt-2 fw-regular t-warning">
          Use the form below to post a new project or update project notification.
        </p>
        <form class="mt-2" hx-post="/admin/notifications" data-dialog="Posting notification for project..." hx-target="this" hx-swap="afterend">
          <fieldset class="mt-2">
            <legend class="h6 bold">Notification Type</legend>
            <div class="flex-row mt-1 align-center wrap gap-3">
              <label class="radio">
              <input type="radio" name="notif_type" value="create_project" class="secondary" checked>
              Project Creation
              </label>
              <label class="radio">
              <input type="radio" name="notif_type" value="project_update" class="primary">
              Project Update
              </label>
            </div>
          </fieldset>
          <div class="input-group block" data-hover="false" data-focus="false" data-error="false" data-blurred="true">
            <label for="notif_title">Notification Title:</label>
            <div class="text-input block medium">
                <input 
                type="text" 
                name="notif_title" 
                id="notif_title" 
                class="medium icon-before mt-1" 
                required
                placeholder="Enter title for notification..." 
                maxlength="150"
                minlength="1"  
                spellcheck="true" 
                autocapitalize="off"
                >
                <svg class="icon-before" focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Title"><path d="M5 4v3h5.5v12h3V7H19V4z"></path></svg>
                <!-- Buttons and SVGs -->
            </div>
          </div>
          <div class="input-group block mt-1" data-hover="false" data-focus="false" data-error="false" data-blurred="false"> 
            <label for="notif_desc">Notification Description:</label>
            <div class="mt-1 text-input block medium disabled">
                <textarea 
                name="notif_desc" 
                id="notif_desc" 
                placeholder="Enter description for the notification..." 
                rows="5" 
                maxlength="400" 
                minlength="1" 
                spellcheck="true"
                autocomplete="off"
                autocapitalize="off"
                ></textarea>
            </div>
          </div>
          <div class="input-group block" data-hover="false" data-focus="false" data-error="false" data-blurred="true">
            <label for="notif_url">Notification Link:</label>
            <div class="text-input block medium">
                <input
                name="notif_url"
                id="notif_url" 
                class="mt-1 
                medium icon-before" 
                placeholder="Enter link to project..." 
                autocomplete="off" 
                autocapitalize="off" 
                spellcheck="false" 
                type="url" 
                >
                <svg class="icon-before" focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Link">
                    <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z">
                    </path>
                </svg>
            </div>
          </div>
          <div class="flex-row mt-2 align-center justify-between">
            <input role="button" value="RESET"  type="reset" aria-label="Reset Form"></input>
            <button type="submit" aria-label="Submit" class="success filled icon-text medium">
                <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Send"><path d="M2.01 21 23 12 2.01 3 2 10l15 2-15 2z"></path></svg>
                SUBMIT
            </button>
          </div>
        </form>
    </section>
    
  <%-include('../../partials/pagePartial')%>
<%}%>