<%# 
PARTIAL ROUTE: pages/learning-d3/delaunay.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
- locals.jsNonce
%>
<%if(locals.fullPageRequest||locals.pageRequest){%>
  
<h1 class="page-title" id="top-of-page">D3.js Delaunay</h1>
        
  <div style="min-height: 700;" id="diagram-container" class="hz-scroll flex-row justify-center"></div>
  <script nonce="<%=locals.jsNonce%>" type="module">
    import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";
     const container = document.getElementById('diagram-container');
    // array = number array [lng1,lat1,lngf2,lat2,...]
     const DATA = {
 "array": [
  -90.893248,
  45.4963785,
  -75.9828655,
  44.005638000000005,
  -76.3457585,
  42.511399999999995,
  -90.2838225,
  41.3465635,
  -90.8949705,
  31.4716585,
  -82.0364535,
  38.0047345,
  -93.8828585,
  32.8809025,
  -76.3280299922832,
  39.7265436463803,
  -95.67698150000001,
  40.339326,
  -77.68320399999999,
  40.666309999999996,
  -119.6882675,
  45.44584,
  -92.719064,
  43.565349999999995,
  -119.4716505,
  35.133179,
  -97.6156665,
  43.3518495,
  -80.057844,
  39.930493,
  -75.40843,
  43.6293855,
  -83.204854,
  32.847472499999995,
  -81.62567899999999,
  37.2777395,
  -110.0625465,
  41.997107,
  -80.099069,
  26.6990725,
  -88.375376,
  37.398079499999994,
  -121.179136,
  44.3524305,
  -75.7968025,
  44.2151165,
  -87.6837315,
  40.548035,
  -85.690203,
  31.103998,
  -78.324769,
  40.512059,
  -101.9142405,
  44.54223,
  -118.627669,
  38.5248745,
  -91.35351,
  39.003199,
  -92.380111,
  46.6234395,
  -91.0144325,
  39.184011999999996,
  -99.0991465,
  37.950613000000004,
  -81.8938255,
  26.6893935,
  -96.562753,
  30.450935,
  -75.659391,
  40.16911,
  -97.105227,
  47.7746315,
  -96.35769350000001,
  41.45501,
  -83.5261195,
  40.782233,
  -122.404751,
  45.8659155,
  -92.876309,
  38.6695845,
  -90.4316725,
  42.969687,
  -89.968215,
  36.4518145,
  -88.1878245,
  40.243358,
  -97.2256265,
  47.343657,
  -102.0996945,
  34.541731999999996,
  -83.314852,
  42.293507500000004,
  -106.40835,
  48.8570615,
  -98.989192,
  35.385422000000005,
  -94.70355699999999,
  43.3930665,
  -94.84385649999999,
  37.280486999999994,
  -75.8686415,
  40.325599999999994,
  -102.771762,
  48.379856000000004,
  -73.95787100000001,
  40.940476000000004,
  -97.37358273941976,
  27.7318535,
  -98.1591035,
  41.0226185,
  -101.52015850000001,
  48.766549499999996,
  -87.601328,
  34.090402999999995,
  -94.622585,
  40.4384,
  -77.39889600000001,
  36.9483905,
  -95.3835325,
  40.442836,
  -99.523506,
  33.467921000000004,
  -79.33231549999999,
  39.815074499999994,
  -105.90064100000001,
  37.2574455,
  -98.6621695,
  36.688505,
  -101.6609045,
  43.5704925,
  -93.782814,
  44.008136500000006,
  -90.425711,
  43.5372945,
  -90.3271455,
  43.1913805,
  -100.25692749999999,
  47.4797035,
  -80.061128,
  26.5648215,
  -85.321245,
  41.8472725,
  -73.5251175,
  41.318064500000006,
  -94.232197,
  45.753499500000004,
  -83.2096725,
  40.6912885,
  -75.98535799999999,
  42.83457,
  -83.786483,
  39.9314175,
  -111.8138535,
  44.600864,
  -96.8007575,
  31.846132500000003,
  -91.5650805,
  45.203844000000004,
  -100.62915050000001,
  37.538670499999995,
  -82.4483685,
  39.7641595,
  -85.6391305,
  42.5372865,
  -81.097189,
  29.1855356454587,
  -80.755672,
  39.94688295173435,
  -87.516663,
  40.4891875,
  -90.1641015,
  39.154284000000004,
  -93.53932449999999,
  35.3606245,
  -79.4041885,
  39.6629425,
  -106.7811825,
  41.2145805,
  -119.2496795,
  35.6779435,
  -88.5904505,
  43.012817,
  -94.62231299999999,
  42.876649,
  -90.504999,
  36.208979,
  -86.1710175,
  38.8248785,
  -101.71799,
  48.443113499999995,
  -76.66492199999999,
  42.539038500000004,
  -97.4694575,
  42.457589999999996,
  -90.60848849999999,
  39.754794000000004,
  -83.755481,
  31.905555,
  -110.897102,
  32.4814945,
  -90.028607,
  29.87981,
  -79.800281,
  39.5514125,
  -84.006823,
  39.1449355,
  -76.950771,
  38.945124,
  -100.538456,
  36.907188,
  -98.3492475,
  35.9674205,
  -96.6547855,
  46.782814,
  -95.0344185,
  46.161649499999996,
  -103.035103297163,
  34.38672256585925,
  -99.747071,
  32.500516000000005,
  -91.711308,
  40.8371725,
  -90.39840799999999,
  41.558273,
  -101.38307900000001,
  35.3455805,
  -75.323392,
  41.5895905,
  -94.620425,
  40.7493015,
  -117.37124850000001,
  48.860913499999995,
  -97.75100950000001,
  32.056432,
  -90.678767,
  37.06522,
  -88.6423015,
  35.0203335,
  -96.5791435,
  33.776442,
  -74.0482275081434,
  40.0690792829488,
  -85.3538935,
  34.998059769540646,
  -76.96504833707016,
  38.9428327173297,
  -117.0462534293755,
  47.090553,
  -83.11478650000001,
  39.695536000000004,
  -117.304092,
  34.1465395,
  -88.76957250000001,
  45.1627235,
  -117.95766950000001,
  34.1577895,
  -99.26934700000001,
  40.837661999999995,
  -100.84317,
  48.018124,
  -96.2924865,
  45.571236,
  -84.86486049999999,
  40.385886,
  -79.00852499999999,
  34.466551,
  -98.4486805,
  36.5093015,
  -95.5707335,
  32.189342499999995,
  -99.7237375,
  33.9839835,
  -98.8464695,
  40.7457105,
  -74.54302799999999,
  40.8762805,
  -85.94468950000001,
  36.012446999999995,
  -124.1295353475805,
  41.1586655,
  -108.62027499999999,
  47.8983585,
  -87.8003385,
  40.467530499999995,
  -69.8963,
  44.8002635,
  -70.6726236427254,
  41.9522795,
  -97.0770235,
  45.5800295,
  -73.6729535,
  40.6689795,
  -75.239097,
  40.249815,
  -119.487832,
  47.394225000000006,
  -76.2345985,
  40.855821,
  -74.81794199999999,
  43.7687985,
  -117.139803,
  47.010254,
  -79.85848849999999,
  40.491619,
  -76.2833855,
  40.792621499999996,
  -93.99755986860275,
  31.981651499999998,
  -122.5104185,
  47.298569168242054,
  -97.966362,
  46.681278500000005,
  -97.30399,
  42.1133475,
  -101.0131645,
  40.1761415,
  -96.227409,
  37.6216225,
  -98.82850250000001,
  42.94594,
  -77.144092,
  38.865885,
  -76.0803095,
  40.229384499999995,
  -70.75514749999999,
  41.7904875,
  -89.1956045,
  41.113764,
  -81.82170500000001,
  26.4737095,
  -77.9086355,
  34.141113000000004,
  -83.0022755,
  30.940246000000002,
  -80.37162599999999,
  25.7236895,
  -77.0565226083912,
  35.4959705,
  -96.638319,
  34.4427225,
  -86.8920955,
  38.81942,
  -92.181384,
  30.5140095,
  -103.526494,
  34.2278615,
  -97.864812,
  48.684301000000005,
  -77.6281605,
  39.391348,
  -93.56701899999999,
  44.9836575,
  -95.1835915,
  42.7292145,
  -85.77279,
  40.2184995,
  -94.5024725,
  37.084025999999994,
  -89.798103,
  38.37702,
  -75.120013,
  39.8784525,
  -89.547309,
  38.4334805,
  -97.2035705,
  41.071897500000006,
  -88.53759099999999,
  39.55842,
  -88.018295,
  42.373036,
  -87.9434335,
  42.3657295,
  -84.302942,
  42.5557735,
  -106.7734325,
  35.5599725,
  -86.2771835,
  43.951271500000004,
  -80.3283525,
  39.259965,
  -97.15247199999999,
  32.7144905,
  -91.49785,
  33.905778,
  -105.14264549999999,
  38.3626205,
  -98.1725055,
  34.745488,
  -89.654253,
  31.750823500000003,
  -98.04513600000001,
  34.478308,
  -97.491526,
  35.0583425,
  -88.023288,
  32.772043499999995,
  -101.36701049999999,
  32.110744,
  -94.48084349999999,
  40.6178175,
  -86.5826675,
  30.441432499999998,
  -97.4928195,
  41.3906135,
  -82.746029,
  36.9737535,
  -95.2337395,
  46.470645000000005,
  -114.78251559573201,
  32.556211000000005,
  -96.3176955,
  30.763218000000002,
  -119.752321,
  36.6089755,
  -76.15906000000001,
  39.2689735,
  -94.1622775,
  36.069148,
  -84.295507,
  42.806084,
  -87.100336,
  33.3678315,
  -81.507844,
  41.3984365,
  -80.08007714400026,
  26.2817586811072,
  -81.9823535,
  31.2069665,
  -93.2980125,
  34.9905055,
  -87.59788736130284,
  40.153940993842795,
  -99.3446895,
  35.8664375,
  -120.828902,
  45.819092999999995,
  -85.595729,
  32.604853500000004,
  -102.8013375,
  40.858444500000004,
  -99.625291,
  31.987811999999998,
  -79.64478399999999,
  39.0818275,
  -82.9788925,
  31.8126935,
  -94.677712,
  42.550824500000004,
  -83.66705049999999,
  36.596568000000005,
  -83.14607899999999,
  34.2842835,
  -104.8443345,
  39.1041355,
  -73.9913445,
  40.404194000000004,
  -89.56812550000001,
  39.813923,
  -84.851684,
  39.7411465,
  -97.239281,
  41.701983,
  -95.7996415,
  45.01087750000001,
  -97.1508405,
  37.110138500000005,
  -88.86357699999999,
  35.4588095,
  -76.9898355,
  40.572956500000004,
  -119.305894,
  46.2822065,
  -122.702238,
  38.4362325,
  -80.598304,
  40.1660725,
  -120.95929699999999,
  38.20190100000001,
  -83.1860055,
  40.454475,
  -70.851612,
  42.063331000000005,
  -84.228838,
  45.358689,
  -87.4885715,
  33.98665200000001,
  -81.066572,
  39.660470000000004,
  -73.6674485,
  41.0058869635085,
  -75.6398705,
  40.222819,
  -85.29951600000001,
  38.866114499999995,
  -82.0231,
  40.6816375,
  -92.621814,
  33.729248999999996,
  -82.936075,
  43.706742000000006,
  -105.5660765,
  37.208825000000004,
  -96.661238,
  38.764019000000005,
  -83.3869465,
  39.074406499999995,
  -90.99173200000001,
  39.622744,
  -92.685716,
  46.505092000000005,
  -82.347014,
  32.492434,
  -78.7913875,
  36.7586725,
  -78.050984,
  35.9590445,
  -96.60671099999999,
  41.297612,
  -95.1154025,
  45.499029,
  -98.508791,
  40.5905955,
  -81.799908,
  28.1061665,
  -83.725155,
  34.706900000000005,
  -94.00581349999999,
  45.4353645,
  -89.006641,
  40.673844,
  -95.407206,
  35.4642345,
  -88.01968400000001,
  41.598046,
  -77.3023405,
  41.7435925,
  -101.570606,
  46.422267500000004,
  -119.289089,
  36.5247435,
  -93.74237,
  34.2360545,
  -78.761981,
  39.4995385,
  -98.3056775,
  39.500462999999996,
  -97.8232225,
  26.1772075,
  -71.690148,
  42.436084,
  -89.85536300000001,
  39.069843500000005,
  -79.7008195,
  39.168265500000004,
  -118.18556050000001,
  33.962528500000005,
  -80.9397815,
  28.953702,
  -84.229791,
  43.416943,
  -91.068165,
  38.2391145,
  -95.430942,
  47.6961025,
  -87.989464,
  45.635576,
  -102.065211,
  47.290143,
  -73.57746900000001,
  41.3676375,
  -122.86396400000001,
  38.438631,
  -85.0949561882686,
  31.146386,
  -86.26710800000001,
  39.552595,
  -75.89010400000001,
  42.1349545,
  -119.064682,
  36.1436705,
  -92.5643975,
  38.9783365,
  -77.6984645,
  35.598058,
  -120.50624450000001,
  35.658084,
  -84.5692695,
  39.2713055,
  -122.04283849999999,
  37.005345000000005,
  -76.2263605,
  35.5486595,
  -120.5373865,
  35.0490025,
  -74.4704,
  40.3346115,
  -92.42747449999999,
  30.6716415,
  -91.6700305,
  29.810705,
  -102.251161,
  35.531938999999994,
  -92.2653345,
  42.4124545,
  -80.3894535,
  27.582877,
  -109.89041700000001,
  36.0723305,
  -74.03827749999999,
  40.170339999999996,
  -119.0683875,
  36.2205095,
  -86.552511,
  38.920199499999995,
  -78.752273,
  40.320961,
  -112.0419805,
  41.362303499999996,
  -76.550959,
  39.386857500000005,
  -95.5441775,
  47.31824,
  -79.174359,
  40.5019805,
  -107.59636950000001,
  35.101409000000004,
  -97.713899,
  45.8816985,
  -75.954548,
  40.3628985,
  -80.123761,
  26.6977975,
  -80.33511250000001,
  39.331638,
  -88.0829225,
  37.2745655,
  -90.7841945,
  38.6328035,
  -95.442838,
  38.3222375,
  -85.3685635,
  40.263492,
  -75.3211365,
  39.4854665,
  -100.9416175,
  29.370829,
  -71.93931950000001,
  42.616569999999996,
  -73.496634,
  43.086494,
  -75.42501200000001,
  39.8256215,
  -101.220008,
  38.489086,
  -76.554766,
  38.935836,
  -71.9406955,
  44.5895625,
  -81.76549299999999,
  35.246961,
  -91.99112,
  32.578475,
  -81.63496549999999,
  37.6008115,
  -89.45229950000001,
  34.1759895,
  -107.919354,
  35.211031,
  -80.2838055,
  39.419177000000005,
  -75.6523665,
  44.022234499999996,
  -86.324306,
  41.693659,
  -95.536963,
  47.4922095,
  -95.498738,
  35.3597215,
  -111.7984155,
  34.6420875,
  -89.74933050000001,
  40.634978,
  -108.9153345,
  47.131675,
  -95.5040095,
  32.1808685,
  -78.985348,
  34.0986065,
  -96.00053,
  29.447226,
  -92.886264,
  39.783983,
  -90.908692,
  40.7456315,
  -95.34735549999999,
  42.334383,
  -122.50908,
  45.427152,
  -92.7600885,
  38.073021499999996,
  -99.6017865,
  43.8800025,
  -80.45761949999999,
  39.683465,
  -82.080218,
  39.476681,
  -92.29487950000001,
  38.088147500000005,
  -87.6868965,
  41.63001,
  -112.39376250000001,
  39.5103485,
  -86.278295,
  31.2228615,
  -86.5326685,
  33.3661485,
  -83.96428549999999,
  38.655936,
  -74.836712,
  40.720396,
  -92.379477,
  31.758432,
  -94.01738549999999,
  43.767731,
  -117.05833150000001,
  42.9790055,
  -95.4665955,
  43.8439915,
  -83.4914555,
  38.687605500000004,
  -97.937868,
  27.956352000000003,
  -97.205779,
  44.6593455,
  -97.1590995,
  32.694114,
  -88.9890925,
  40.603744000000006,
  -75.913914,
  40.819462,
  -102.0444615,
  46.902325000000005,
  -81.51410899999999,
  39.1812905,
  -79.6827965,
  41.8240525,
  -88.63439600000001,
  39.715538,
  -96.5111215,
  29.041905999999997,
  -99.129782,
  31.7170555,
  -77.0811175,
  39.01943,
  -82.62368749999999,
  28.268874,
  -82.23081149999999,
  34.1281285,
  -81.296281,
  38.1428655,
  -76.842785,
  38.9653325,
  -89.871505,
  42.164398000000006,
  -85.965266,
  40.613587499999994,
  -74.5743515,
  40.536128000000005,
  -98.515475,
  33.262826000000004,
  -73.52484651879286,
  41.3551485,
  -77.733233,
  42.5782515,
  -71.4543855,
  42.4264465,
  -78.2419605,
  40.489528,
  -98.1093975,
  26.932242000000002,
  -97.3199245,
  39.0925955,
  -83.0572675,
  36.804992999999996,
  -79.682793,
  40.6837245,
  -79.3735025,
  39.391448999999994,
  -75.7553695,
  43.084038500000005,
  -79.0149275,
  40.6702115,
  -97.922996,
  36.882209,
  -90.931375,
  43.315786,
  -87.0843905,
  38.875394,
  -97.51454100000001,
  37.886735,
  -83.48234,
  40.97553,
  -76.3953975,
  40.164570499999996,
  -75.8900375,
  40.329944999999995,
  -123.9180455,
  44.7203925,
  -92.658661,
  32.080844,
  -73.3501675,
  41.4284215,
  -85.966957,
  40.1006815,
  -89.97354,
  41.10975,
  -86.111068,
  40.8183705,
  -95.93432949999999,
  43.244339,
  -84.908544,
  43.6691405,
  -99.22204500000001,
  40.0985045,
  -97.34551250000001,
  46.904917999999995,
  -84.263662,
  38.918555,
  -78.4947275,
  42.89856,
  -81.1748445,
  33.222694000000004,
  -111.58261999999999,
  39.5271645,
  -86.9400665,
  33.5377465,
  -84.645522,
  42.176713500000005,
  -74.46425049999999,
  41.171174500000006,
  -87.9954915,
  38.445077999999995,
  -75.4794275,
  42.2978665,
  -94.7261245,
  42.0603785,
  -76.88736650000001,
  38.8723615,
  -95.7762525,
  35.1602415,
  -97.81146050000001,
  40.313117,
  -78.9044275,
  40.320015,
  -84.2262935,
  33.522996500000005,
  -79.24096850000001,
  38.622926,
  -93.805781,
  39.7590035,
  -97.511724,
  31.418515499999998,
  -100.0201045,
  34.764788499999995,
  -91.2079425,
  39.281699,
  -74.207112,
  40.869198999999995,
  -82.459735,
  28.4427275,
  -112.0826075,
  33.0235135,
  -98.345439,
  42.257720500000005,
  -93.812084,
  35.154276,
  -105.5969945,
  34.2500645,
  -96.8285395,
  46.8399055,
  -97.40031300000001,
  39.590973500000004,
  -82.456027,
  28.919904000000002,
  -75.834906,
  41.28747,
  -121.7513055,
  39.4919395,
  -97.916585,
  48.9222065,
  -90.4281905,
  40.295359000000005,
  -84.64286200000001,
  40.3374095,
  -90.4343015,
  41.6248565,
  -85.930148,
  32.920986,
  -89.035393,
  34.1787315,
  -96.3993025,
  42.467873,
  -74.25161,
  42.3143745,
  -118.1285635,
  48.620900500000005,
  -85.33008749999999,
  41.5537895,
  -112.43730500000001,
  38.79772749999999,
  -76.4055885,
  40.904028499999995,
  -83.24591699999999,
  32.606118499999994,
  -88.009229,
  38.51978149999999,
  -92.17093750000001,
  44.959224000000006,
  -119.762843,
  36.7125255,
  -85.5784175,
  32.7329655,
  -98.0460055,
  26.133311499999998,
  -102.06611799999999,
  48.6746945,
  -76.8884875,
  38.8949635,
  -78.6432125,
  40.108606,
  -93.30693099999999,
  40.849740499999996,
  -78.08374950000001,
  36.4398275,
  -81.986411,
  27.956678500000002,
  -114.521681,
  32.706304,
  -83.6128775,
  39.7373235,
  -74.622679,
  40.6977315,
  -93.5329945,
  33.6974775,
  -95.05596650000001,
  29.577126999999997,
  -82.963871,
  38.7221470112,
  -85.18898250000001,
  41.593262499999994,
  -96.8351530262754,
  45.5932855,
  -86.483081,
  31.4093275,
  -75.766808,
  39.136141499999994,
  -83.5781455,
  43.371019000000004,
  -85.900991,
  39.7350795,
  -95.492113,
  45.939809499999996,
  -98.80928800000001,
  42.4756985,
  -90.99375599999999,
  44.130722500000005,
  -111.72788700000001,
  42.5727575,
  -87.2635275,
  30.9785995,
  -87.89109049999999,
  37.1006125,
  -83.73455899999999,
  43.330527000000004,
  -123.1953675,
  44.854595,
  -88.5542195,
  39.1194035,
  -105.105021,
  40.003007,
  -97.84149199999999,
  40.398512999999994,
  -82.31326849999999,
  32.382491,
  -85.7439495,
  31.00976784863405,
  -74.30847349999999,
  40.5141885,
  -92.0240525,
  40.359588,
  -85.3527132064307,
  45.1082283224307,
  -92.2699015,
  37.13830299999999,
  -89.0591845,
  42.443231,
  -78.00230350000001,
  42.716569,
  -94.239619,
  43.0729275,
  -93.9698595,
  42.124406,
  -104.4383205,
  36.8829725,
  -79.498478,
  40.2044535,
  -90.2972925,
  38.710684,
  -81.349039,
  40.403988,
  -93.275335,
  44.773253499999996,
  -102.39318800000001,
  35.889219,
  -76.26317399999999,
  41.6696515,
  -84.730689,
  41.524109,
  -91.702028,
  34.4237355,
  -81.303676,
  37.610847,
  -92.13331500000001,
  31.690728,
  -85.230403,
  43.621023,
  -86.1269865,
  38.977185500000004,
  -95.10032000000001,
  30.342689999999997,
  -100.45385350000001,
  37.8278605,
  -93.2314055,
  44.102542,
  -74.750782,
  42.7984315,
  -98.359833,
  41.082586500000005,
  -115.97641300000001,
  46.091663,
  -91.9858395,
  41.892720499999996,
  -87.73444649999999,
  30.669502,
  -80.652548,
  40.3682995,
  -97.7504625,
  35.31095,
  -92.5370385,
  41.2875035,
  -75.91314700000001,
  40.9299145,
  -98.842694,
  43.3859535,
  -92.11125899999999,
  30.3467585,
  -79.909763,
  39.848115500000006,
  -89.5049255,
  41.2931765,
  -104.94940650000001,
  42.053514500000006,
  -75.275777,
  39.892095,
  -77.589637,
  42.956181,
  -95.945955,
  32.895424,
  -78.77565,
  40.656821,
  -85.93225749999999,
  32.388541000000004,
  -91.735795,
  39.653805500000004,
  -97.177953,
  40.148579,
  -70.890337,
  43.186294000000004,
  -83.5418315,
  31.946166499999997,
  -88.0131915,
  30.891595000000002,
  -93.7009755,
  32.0393675,
  -86.25282999999999,
  37.0466715,
  -109.286197,
  34.158243,
  -84.56705,
  39.034809,
  -83.099144,
  42.461582500000006,
  -118.2035745,
  33.925119,
  -122.46281049999999,
  37.88668336611415,
  -78.14687,
  34.069506000000004,
  -95.951686,
  36.677316,
  -96.5018985,
  40.6814855,
  -88.6053065,
  41.910312000000005,
  -84.5918485,
  33.477757999999994,
  -111.654949,
  40.013557,
  -85.45504249999999,
  35.739827,
  -86.1218145,
  41.299551,
  -87.4048865,
  39.0984655,
  -98.2524555,
  26.1077777984717,
  -81.4463615,
  38.0893585,
  -91.3024845,
  36.077450999999996,
  -80.314704,
  40.76665,
  -93.3700965,
  42.733002,
  -77.488216,
  41.103248,
  -96.096891,
  44.01002149999999,
  -77.3208115,
  35.1895155,
  -103.525146,
  46.911131499999996,
  -80.61319,
  40.459460503999,
  -88.204804,
  34.8098095,
  -96.1207425,
  40.723779500000006,
  -93.006242,
  36.311786,
  -96.47251299999999,
  41.9369405,
  -122.18507249999999,
  39.7473705,
  -88.5881565,
  35.171170000000004,
  -81.4539125,
  31.7263425,
  -95.8125235,
  29.4872865,
  -72.0904865,
  41.549502000000004,
  -99.167438,
  32.549239,
  -75.3072685,
  39.885656499999996,
  -82.4681015,
  36.948178,
  -98.35734550000001,
  48.209494,
  -111.999691,
  41.176719500000004,
  -77.93094049999999,
  39.656414,
  -83.81876600000001,
  35.0401515,
  -98.589057,
  36.054188499999995,
  -96.965964,
  38.566863,
  -90.356203,
  41.465999,
  -122.2662042039785,
  37.5544170950682,
  -77.089972798315,
  34.6924585,
  -86.63031000000001,
  37.831265,
  -80.754869,
  40.7765275,
  -87.7367405,
  41.671298,
  -85.6718185,
  38.434429,
  -97.71597399999999,
  36.456575,
  -73.052694,
  41.48794,
  -75.1478655952325,
  38.782035471412996,
  -78.494609,
  43.015374,
  -78.0327105,
  42.222637000000006,
  -97.5504485,
  46.919382,
  -84.2557065,
  39.6650675,
  -85.0015035,
  41.953707,
  -93.831151,
  40.7429465,
  -96.7828715,
  37.6903645,
  -82.44095150000001,
  40.232622000000006,
  -85.637584,
  38.2492455,
  -85.291201,
  39.808339000000004,
  -87.9983465,
  42.9373475,
  -77.3616155,
  39.479513,
  -93.37581850000001,
  42.419520500000004,
  -98.752636,
  34.61927,
  -81.1801,
  32.0863715,
  -86.15618599999999,
  43.124744500000006,
  -83.0343675,
  33.481528,
  -96.787148,
  39.0332705,
  -88.6268905,
  34.086222,
  -86.748921,
  34.1867005,
  -88.16502700000001,
  40.3010615,
  -82.429582,
  39.764275,
  -91.6625785,
  41.707089499999995,
  -89.1711085,
  33.310987499999996,
  -90.88048950000001,
  33.270473,
  -89.392088,
  35.058919,
  -112.6276885,
  45.2166315,
  -116.9204762015415,
  44.023565500000004,
  -74.000639,
  40.963115,
  -88.05449150000001,
  38.376445,
  -89.667946,
  40.6912645,
  -86.21850147639366,
  43.0522245,
  -96.562152,
  29.704269500000002,
  -100.4509625,
  37.589688499999994,
  -91.423186,
  44.8887695,
  -86.7736915,
  40.372656500000005,
  -94.155847,
  36.260968000000005,
  -75.8418785,
  41.305979,
  -98.568702,
  41.284284,
  -123.190058,
  39.232034,
  -117.89460199999999,
  33.973676499999996,
  -95.99567,
  35.928527,
  -76.53170349999999,
  40.5849695,
  -124.076988,
  40.813500000000005,
  -113.143663,
  48.60044,
  -80.226691,
  35.2251715,
  -103.79614749999999,
  31.313874,
  -72.110253,
  42.121945499999995,
  -118.3485575,
  33.995646,
  -109.80230900000001,
  48.5457745,
  -79.85674399999999,
  40.298751499999995,
  -71.355109,
  42.329919000000004,
  -74.30547250000001,
  40.969629,
  -74.5887855,
  40.029371499999996,
  -73.32436100000001,
  40.7624575,
  -82.642076,
  34.8441885,
  -76.6806893224974,
  37.087638,
  -110.26119299999999,
  34.321967,
  -76.181408,
  39.7767955,
  -83.809507,
  33.1093105,
  -122.54306600000001,
  46.997507999999996,
  -91.1847785,
  41.178487000000004,
  -81.48316,
  35.849354500000004,
  -87.519066,
  33.891895500000004,
  -92.8867405,
  40.8014595,
  -86.45900950000001,
  31.2432345,
  -100.00298000000001,
  39.610829499999994,
  -85.082883,
  37.0550035,
  -76.6154915,
  39.842932000000005,
  -115.9544995,
  33.296659500000004,
  -112.10800449999999,
  39.2494215,
  -86.311556,
  33.023315,
  -76.5404815,
  42.4580495,
  -103.7781705,
  48.909910499999995,
  -122.052435,
  39.934051999999994,
  -119.42146650000001,
  36.3470735,
  -75.845752,
  39.98657,
  -76.6482105,
  40.9461225,
  -88.8489075,
  36.3357605,
  -97.7770635,
  26.472645,
  -84.10588899999999,
  33.7114015,
  -97.0398835,
  33.1585185,
  -96.0009495,
  40.410303,
  -93.4209115,
  34.0340165,
  -95.479236,
  33.6679455,
  -96.2907055,
  31.6275915,
  -79.72122999999999,
  39.9148345,
  -97.5743895,
  27.7057945,
  -98.3748525,
  32.243878499999994,
  -77.69010549999999,
  39.3524325,
  -80.03896900000001,
  33.229138500000005,
  -76.47780800000001,
  39.604665999999995,
  -109.92838449999999,
  37.1410155,
  -80.8817615,
  40.011474500000006,
  -89.66853,
  36.396091999999996,
  -73.32112000000001,
  41.1244785,
  -109.1527405,
  35.8906975,
  -98.259619,
  35.1882225,
  -98.1541885,
  33.220869500000006,
  -85.01068900000001,
  39.419116,
  -121.9583425,
  45.6418455,
  -97.1504725,
  32.962399,
  -94.48808650000001,
  44.724618500000005,
  -74.22157,
  40.939167,
  -110.578847,
  34.4124125,
  -111.95048650000001,
  46.280641,
  -82.124547,
  28.7851895,
  -108.8024745,
  33.403513000000004,
  -74.96507249999999,
  39.879929000000004,
  -84.3375985,
  39.1051425,
  -116.5870755,
  33.073926,
  -83.181957,
  35.310792500000005,
  -87.0424115,
  30.581597000000002,
  -75.50778371295235,
  39.7558425,
  -111.011755,
  43.034065999999996,
  -73.3615905,
  41.863383,
  -94.821994,
  37.61713,
  -85.69713200000001,
  37.50669,
  -80.16640849999999,
  34.395108,
  -79.98637149999999,
  40.4121825,
  -75.992032,
  40.899641,
  -95.899262,
  33.5887175,
  -98.735976,
  26.340584,
  -107.4728255,
  38.926148999999995,
  -92.8368435,
  39.228822,
  -75.214876,
  40.2693555,
  -77.3189445,
  34.751222,
  -83.48587,
  39.9609925,
  -96.3480855,
  33.428487000000004,
  -75.9347935,
  41.0444655,
  -75.5852715,
  40.535672,
  -121.6453595,
  37.870866,
  -74.85495850000001,
  40.157275999999996,
  -87.543792,
  41.4585635,
  -78.415432,
  40.683792499999996,
  -87.95719299999999,
  45.377828,
  -109.09483900000001,
  35.6612095,
  -118.94085999999999,
  35.389765,
  -82.1635225,
  28.253294,
  -119.2208625,
  36.3820465,
  -112.4557935,
  43.0151715,
  -87.46947,
  32.1851875,
  -75.971348,
  40.331115999999994,
  -81.0302035,
  33.3022265,
  -95.14878350000001,
  37.794254499999994,
  -87.6200585,
  41.43074,
  -75.5601118023819,
  38.4417865203453,
  -92.7747775,
  34.36533,
  -75.768487,
  41.329023,
  -103.183165,
  48.6298845,
  -76.706608,
  41.2797615,
  -87.425452,
  41.280812499999996,
  -94.758306,
  37.4845865,
  -112.930867,
  33.4889285,
  -86.9562085,
  30.6166415,
  -120.73007000000001,
  40.700984000000005,
  -89.03383550000001,
  36.5572365,
  -122.54529249999999,
  40.5004955,
  -111.52012500000001,
  35.264667,
  -75.0387235,
  42.778234499999996,
  -94.7010535,
  35.861816000000005,
  -120.8315215,
  39.002033499999996,
  -72.8770885,
  40.938836025379004,
  -75.89300800000001,
  38.289776,
  -82.2974935,
  33.988023,
  -75.9884475,
  40.352650499999996,
  -89.3781205,
  31.3107585,
  -95.718665,
  44.13436,
  -104.41194300000001,
  45.020122,
  -110.81744,
  33.3985795,
  -78.951603,
  38.019095500000006,
  -77.8326185,
  40.9570815,
  -119.9297905,
  37.555595,
  -74.02326500000001,
  41.5288835,
  -106.88961850000001,
  39.270251,
  -74.976366,
  39.6887345,
  -98.117906,
  31.6891965,
  -90.14848850000001,
  38.576086000000004,
  -79.3654975,
  40.2794935,
  -97.0326525,
  31.2071915,
  -91.640276,
  42.5988115,
  -96.5819415,
  42.451881,
  -86.26449696022225,
  42.398612,
  -96.58905184011999,
  43.3041475,
  -80.6458485,
  35.307503999999994,
  -95.5846135,
  29.652111,
  -93.444407,
  37.137306,
  -84.1535925,
  36.2263505,
  -93.0814565,
  45.1674505,
  -98.288412,
  44.799009999999996,
  -93.36018899999999,
  44.895311,
  -90.5151585,
  30.734703500000002,
  -89.1958435,
  39.638162,
  -83.742703,
  38.4245375,
  -94.0610285,
  46.039313,
  -93.57893999999999,
  37.3206835,
  -73.68605149999999,
  40.7325695,
  -97.392961,
  28.6729895,
  -116.87218999999999,
  47.9644825,
  -90.289541,
  45.538887,
  -71.1036085,
  42.395351,
  -109.269124,
  41.671426,
  -95.12167149999999,
  36.3599945,
  -94.0881475,
  43.50809317323285,
  -104.458727,
  42.763783000000004,
  -79.8350935,
  40.5200295,
  -106.39042549999999,
  42.849509499999996,
  -78.848793,
  35.644151,
  -68.8258875,
  44.740516,
  -97.83048550000001,
  45.6016275,
  -96.8334675,
  46.800317,
  -87.158648,
  37.2399475,
  -95.6987475,
  37.05218,
  -76.744078,
  35.136089999999996,
  -117.3141885,
  34.031739,
  -94.1903055,
  44.272312,
  -93.9661095,
  44.294082,
  -123.359194,
  44.543006000000005,
  -109.9689725,
  41.595074,
  -88.1467015,
  44.2122175,
  -87.20647249999999,
  40.514231499999994,
  -87.94179249999999,
  43.3821885,
  -110.9028665,
  46.54321,
  -95.3817425,
  29.031227,
  -90.8537015,
  33.1741065,
  -78.95147650000001,
  39.920901,
  -80.6625865,
  28.192602,
  -94.46018000000001,
  43.6425705,
  -99.1584845,
  29.351751,
  -98.030622,
  42.1257365,
  -85.7245135,
  42.970792,
  -106.90148049999999,
  34.060462,
  -82.778132,
  39.553218,
  -97.59554750000001,
  44.0084835,
  -95.93961530888575,
  41.1420841186101,
  -89.8152455,
  35.233662,
  -99.0719655,
  29.7235105,
  -84.90379250000001,
  38.0340115,
  -85.1568295,
  38.683417000000006,
  -85.83839499999999,
  34.4942245,
  -84.48365611626265,
  39.083774884540404,
  -92.65365249999999,
  30.222503500000002,
  -77.91750300000001,
  34.288484,
  -72.5933655,
  44.669749499999995,
  -98.89949999999999,
  45.5870095,
  -118.61578800000001,
  46.9702245,
  -94.4940615,
  43.3927065,
  -75.7161205,
  40.830757500000004,
  -78.950849,
  40.320800500000004,
  -74.916167,
  40.166157999999996,
  -75.40089,
  40.758739000000006,
  -77.59606400000001,
  39.64168,
  -95.22844549999999,
  33.1755055,
  -99.3869775,
  34.725936000000004,
  -86.4564975,
  30.3981866938587,
  -94.853835,
  32.53511,
  -90.92248599999999,
  41.8589785,
  -94.379579,
  36.432717,
  -74.9928715,
  43.030718500000006,
  -95.2886175,
  32.955115,
  -80.3025025,
  39.2510415,
  -95.022874,
  39.587381,
  -76.99394649999999,
  36.285576000000006,
  -76.973775,
  39.024944,
  -122.663869,
  45.7126505,
  -76.8669115,
  37.918022070937155,
  -121.0200105,
  37.318335000000005,
  -90.4335685,
  42.53559,
  -96.7612,
  45.044248499999995,
  -88.5566305,
  31.152404,
  -96.336637,
  32.571154,
  -99.082583,
  35.022223999999994,
  -81.061602,
  39.5136875,
  -73.9311525,
  41.72197,
  -105.14105599999999,
  38.709173500000006,
  -78.4115955,
  40.4168145,
  -81.37455,
  40.7387215,
  -81.1120375,
  33.668704500000004,
  -87.7893885,
  43.627213,
  -87.3404235,
  31.424016,
  -96.92552599999999,
  30.1855265,
  -97.9060695,
  26.161203,
  -82.59828350000001,
  38.1188755,
  -87.1421235,
  33.230805000000004,
  -98.561202,
  46.783247,
  -78.2143595,
  40.659076,
  -118.401711,
  46.060592,
  -93.9968685,
  46.481065,
  -92.3187915,
  34.5485105,
  -75.287344,
  41.614617,
  -77.3759455,
  37.5809395,
  -80.62438399999999,
  40.0499405,
  -120.6335535,
  37.9556775,
  -80.7763405,
  40.198102000000006,
  -88.3046145,
  37.8903545,
  -83.82079350000001,
  35.200474,
  -74.818656,
  41.2197875,
  -108.7243315,
  35.5009195,
  -91.69726800000001,
  36.650863,
  -76.5066666522046,
  37.0914355,
  -93.06800949999999,
  35.2180075,
  -91.7726615,
  44.028767,
  -85.4141205,
  42.194921,
  -74.48032649999999,
  40.2628885,
  -119.6654895,
  36.9790235,
  -97.316582,
  36.273306500000004,
  -96.6632465,
  36.778334,
  -121.1000425,
  38.021420000000006,
  -72.99384950000001,
  41.908482,
  -88.3969655,
  34.2637165,
  -84.44065950000001,
  32.3795395,
  -78.24163300000001,
  34.5844065,
  -119.18669650000001,
  36.713243500000004,
  -85.39825400000001,
  42.3928985,
  -84.985231,
  35.107467,
  -75.918991,
  39.234919,
  -90.1389705,
  34.987438499999996,
  -112.865834,
  34.1538365,
  -85.4090515,
  34.96913926995945,
  -100.52605,
  39.825124,
  -82.2348545,
  35.21156224427975,
  -120.1894345,
  39.351776,
  -78.3294855,
  39.2620505,
  -108.33887200000001,
  36.742317,
  -120.80073300000001,
  38.730394000000004,
  -123.336218,
  39.4130625,
  -123.771598,
  46.98058,
  -82.49365328726225,
  42.832490303086004,
  -124.3856205,
  47.9524325,
  -99.3097035,
  38.5325585,
  -82.6355475,
  27.39039846114595,
  -104.49642399999999,
  30.5898875,
  -82.5596285,
  32.318619999999996,
  -84.218153,
  40.0427995,
  -83.69261800000001,
  39.324757,
  -81.921958,
  41.444531,
  -88.993247,
  40.527798000000004,
  -110.962316,
  39.3294975,
  -82.750335,
  34.594912,
  -91.21070399999999,
  30.439431,
  -90.726385,
  33.839159499999994,
  -122.2807375,
  46.5575515,
  -121.97288900000001,
  47.861892,
  -81.98129349999999,
  38.607098500000006,
  -109.535922,
  40.4541685,
  -95.4166155,
  35.675681999999995,
  -83.661497,
  41.970167000000004,
  -91.47631150000001,
  36.3179555,
  -81.8969755,
  40.9739455,
  -81.0222875,
  40.921533999999994,
  -77.0195145,
  39.8032175,
  -85.79601550000001,
  32.446798,
  -83.722298,
  39.581045,
  -83.8301375,
  34.0148265,
  -100.67089,
  45.1320575,
  -82.286946,
  27.325217000000002,
  -94.9202675,
  38.807476,
  -94.559077,
  39.1391715,
  -83.89189150000001,
  39.798334499999996,
  -82.957724,
  39.7252125,
  -94.3409455,
  34.0421795,
  -94.2123,
  46.987406,
  -84.746679,
  41.4489745,
  -95.49141,
  38.1821685,
  -76.385398,
  41.014478999999994,
  -77.67397650000001,
  36.1795285,
  -86.0244405,
  41.039082500000006,
  -94.194585,
  46.3505915,
  -83.4694365,
  31.2633005,
  -74.184177,
  40.733867932357455,
  -95.2631945,
  29.993188500000002,
  -77.3923415,
  37.204972,
  -102.8843385,
  30.8931315,
  -104.4531125,
  39.3447225,
  -78.9056395,
  36.714181999999994,
  -91.3612995,
  35.2910145,
  -89.604332,
  40.6196515,
  -76.2601825,
  42.103412,
  -80.240926,
  27.195750500000003,
  -96.63125,
  28.6185525,
  -112.269563,
  39.098842000000005,
  -111.96862,
  38.8548495,
  -93.72961000000001,
  45.338156,
  -94.065894,
  45.052741,
  -85.544104,
  31.3228325,
  -97.092255,
  31.8052335,
  -108.3534815,
  39.108934000000005,
  -91.168635,
  30.6602925,
  -104.944263,
  48.822663500000004,
  -81.6938675,
  40.61743,
  -94.3645525,
  34.3804965,
  -92.198736,
  33.958898500000004,
  -93.239897,
  45.489661999999996,
  -120.114102,
  41.3207225,
  -90.1868975,
  40.648118999999994,
  -100.91119850000001,
  48.714745,
  -88.839793,
  43.8404915,
  -96.94776999999999,
  31.5674285,
  -82.69681650000001,
  40.3035985,
  -111.8215085,
  40.6064085,
  -84.8677,
  40.973372,
  -75.05854765162951,
  41.765189,
  -93.025143,
  33.7032515,
  -81.2727571956726,
  29.83974961243905,
  -81.3271805,
  41.635154,
  -94.43553349999999,
  43.8272025,
  -72.20662250000001,
  44.933523,
  -90.5091725,
  30.6374845,
  -97.25927912133204,
  26.08130351582,
  -85.869195,
  33.592855,
  -87.277803,
  33.730862,
  -74.299058,
  41.6132525,
  -81.793594,
  26.426605000000002,
  -73.781357,
  43.4987275,
  -93.093372,
  44.8726255,
  -82.3340965,
  32.5730865,
  -72.9405945,
  40.739049,
  -98.89491,
  38.1734305,
  -83.544001,
  38.790402,
  -85.5093205,
  40.184187,
  -85.35647700000001,
  40.3223155,
  -98.261359,
  43.7117165,
  -89.590453,
  41.557235000000006,
  -84.10203899999999,
  33.3415155,
  -90.04708500000001,
  39.621303499999996,
  -73.07064349999999,
  41.3434225,
  -93.0771675,
  39.785185,
  -90.68076400000001,
  35.0390555,
  -98.3401115,
  29.5558225,
  -83.1111445,
  34.3460345,
  -84.443948,
  40.85690700000001,
  -86.10176150000001,
  35.196128,
  -120.7341545,
  45.4823195,
  -92.1166785,
  47.5591835,
  -94.6253275,
  42.398854,
  -84.1786545,
  40.45306,
  -78.37536700000001,
  35.688216,
  -97.93123349999999,
  30.480874999999997,
  -86.1517025,
  37.542964,
  -82.60570799999999,
  38.41290171437565,
  -106.122298,
  35.899828,
  -106.1514485,
  35.402086999999995,
  -72.670663,
  40.947045,
  -89.045155,
  33.345904000000004,
  -82.679828,
  27.909532,
  -84.12818899999999,
  34.203065499999994,
  -70.725349,
  43.476105000000004,
  -79.7814195,
  35.359001,
  -77.29929,
  43.066363,
  -124.1722241894455,
  47.125956,
  -122.69708270650901,
  48.0560335,
  -105.8843645,
  35.485056,
  -116.978921,
  46.3993355,
  -71.6853455,
  42.418695,
  -89.319069,
  44.4692165,
  -81.051772,
  41.772909,
  -122.52196950000001,
  47.158365,
  -87.6268405,
  32.998098999999996,
  -90.7506195,
  29.6249635,
  -78.725196,
  41.167769,
  -102.004099,
  36.0396375,
  -78.6896505,
  43.1325645,
  -122.002307,
  47.466647,
  -73.01371800000001,
  44.6705155,
  -77.40498149999999,
  35.5219595,
  -121.9318245,
  41.010352,
  -120.460456,
  34.7112745,
  -81.2851265,
  40.789047,
  -73.87615199999999,
  41.587548999999996,
  -80.0871445,
  40.422872,
  -96.1089025,
  32.2698835,
  -77.20731749999999,
  40.200045,
  -89.453322,
  32.671831999999995,
  -77.53249199999999,
  40.736798,
  -97.9214005,
  32.389919,
  -77.13912049999999,
  39.209393000000006,
  -101.910275,
  34.9925445,
  -76.187435,
  40.3659595,
  -74.9908875,
  39.818181499999994,
  -121.853804,
  40.5024835,
  -76.12356199999999,
  40.6255945,
  -91.7993755,
  42.062483,
  -98.152834,
  26.1667505,
  -109.2889965,
  33.0246375,
  -91.0581455,
  38.632001,
  -91.018244,
  31.193430499999998,
  -85.91372899999999,
  37.179261,
  -81.7910865,
  35.7421705,
  -88.8817785,
  40.7437835,
  -97.659153,
  34.4542,
  -81.87204299999999,
  37.6149295,
  -95.519811,
  36.4314555,
  -79.25167149999999,
  34.204761500000004,
  -91.9033695,
  45.7322825,
  -86.8673345,
  40.661963,
  -95.79896049999999,
  43.6197175,
  -92.703914,
  38.0530145,
  -97.6047525,
  38.6802705,
  -68.78888850000001,
  44.828858499999996,
  -122.099622,
  40.025814,
  -85.111219,
  38.3516875,
  -77.79559,
  42.157525,
  -88.473872,
  31.4360155,
  -78.635516,
  42.0224895,
  -94.7511385,
  36.292437500000005,
  -105.3357635,
  40.083187499999994,
  -104.07186100000001,
  40.3833025,
  -106.2094875,
  31.565463,
  -104.454202,
  39.600239,
  -122.6537645,
  37.89722902711735,
  -96.6641315,
  33.8675436392182,
  -75.5488811523028,
  35.249762000000004,
  -83.0421905,
  38.7625575,
  -97.383346,
  31.8666695,
  -80.2174445,
  25.869001,
  -74.164812,
  41.6091705,
  -97.839417,
  30.135785,
  -80.348183,
  25.771616,
  -72.68380400000001,
  44.465337500000004,
  -111.54431299999999,
  40.7088995,
  -123.4264065,
  46.2971665,
  -93.138767,
  34.4633825,
  -75.1189979963324,
  40.77800215702095,
  -93.60233600000001,
  31.156034072685898,
  -74.6678575,
  40.573836,
  -74.39958250000001,
  39.9524555,
  -81.38607300000001,
  38.2075365,
  -76.889597,
  38.8594245,
  -82.21424,
  39.3233345,
  -92.2876145,
  30.004478499999998,
  -93.0665195,
  44.7462905,
  -81.73983150000001,
  26.580726,
  -120.95962399999999,
  39.931075500000006,
  -98.44757100000001,
  26.7141885,
  -107.245195,
  39.187461,
  -122.33078950000001,
  40.720081,
  -120.911373,
  39.9167935,
  -115.660528,
  40.939174,
  -74.3144765,
  40.590204,
  -117.520747,
  34.437749,
  -122.587257,
  38.010705,
  -80.4391005,
  37.068521000000004,
  -81.35736600000001,
  41.3862625,
  -107.8175705,
  42.47005,
  -121.6257045,
  39.490685,
  -80.2012545,
  40.394783,
  -75.062721,
  39.7990715,
  -87.5604005,
  38.0472635,
  -94.203847,
  45.3207175,
  -81.612867,
  31.884556,
  -77.558044,
  38.017986,
  -121.268394,
  39.531806,
  -114.072193,
  35.226083,
  -121.51328050000001,
  39.7009925,
  -120.44469649999999,
  39.664837500000004,
  -110.836638,
  39.6278685,
  -81.4212275,
  30.0966125,
  -77.0797075,
  39.0903245,
  -69.4835785,
  44.655128500000004,
  -70.32102900000001,
  43.887832,
  -104.0703905,
  32.222179,
  -83.284374,
  41.244933,
  -77.47037633627039,
  39.72815155674455,
  -83.1588895,
  39.2840275,
  -86.702597,
  33.3925045,
  -85.587775,
  38.2627025,
  -86.6964995,
  41.528245,
  -109.05383870893701,
  35.355293,
  -76.80910349999999,
  40.898862,
  -73.62733,
  41.032658,
  -98.915982,
  26.414116,
  -91.99737300000001,
  41.7255835,
  -94.855099,
  38.6554915,
  -80.90738423260291,
  39.62758098295065,
  -76.5494205,
  38.8369665,
  -81.1890915,
  38.2327665,
  -79.0352445,
  35.270516,
  -87.844671,
  31.403229000000003,
  -72.98075750000001,
  42.285976000000005,
  -76.54372737849684,
  43.4523864753329,
  -76.5641785,
  40.125060000000005,
  -76.7415645,
  39.261088,
  -94.067819,
  39.920806,
  -95.51512149999999,
  33.937952,
  -97.348967,
  42.056054,
  -79.1829365,
  39.649958999999996,
  -75.986726,
  40.306359,
  -71.5760935,
  44.488763500000005,
  -70.556343,
  43.7351065,
  -99.44379799999999,
  27.7708825,
  -77.72529549999999,
  39.735634490463,
  -123.230366,
  40.417655499999995,
  -77.43766,
  39.037306,
  -74.9922105,
  41.304581,
  -80.61005349999999,
  40.6674185,
  -71.7061655,
  42.669489999999996,
  -71.098368,
  42.473091,
  -80.536186,
  40.792627499999995,
  -70.18729369786121,
  41.281725554743346,
  -75.16015200000001,
  39.805506,
  -80.1860275,
  32.989391,
  -97.3851625,
  25.8742155,
  -80.6239465,
  40.398857,
  -97.79882549999999,
  27.801530999999997,
  -76.002392,
  42.263846,
  -111.25355350000001,
  36.123416000000006,
  -88.43527950000001,
  47.172861,
  -80.527356,
  27.7507125,
  -81.936275,
  27.584435,
  -92.40669199999999,
  34.5308005,
  -82.39415600000001,
  39.281681,
  -90.643505,
  29.920866500000002,
  -90.31430399999999,
  42.401114,
  -70.9389975,
  43.034842499999996,
  -84.7049585,
  39.0597865,
  -84.1414495,
  36.699768500000005,
  -76.788015,
  38.7623915,
  -76.486108,
  39.2682055,
  -73.48267799999999,
  41.642652999999996,
  -116.906259,
  33.608753500000006,
  -78.5132665,
  38.041231,
  -75.641676,
  40.278432499999994,
  -74.14592400000001,
  41.680716000000004,
  -105.979022,
  35.1566185,
  -110.915085,
  32.26822,
  -110.0303835,
  33.784687500000004,
  -107.615734,
  35.037243000000004,
  -70.429377,
  43.7304955,
  -117.1547255,
  33.765640000000005,
  -71.90242649999999,
  41.798633499999994,
  -74.8887635,
  40.203387,
  -110.10292749999999,
  35.945989499999996,
  -117.07634350000001,
  33.7328165,
  -96.15702300000001,
  32.731252,
  -72.962638,
  41.2733035,
  -96.468053,
  30.7171465,
  -81.111786,
  34.0514675,
  -99.4761925,
  27.90717,
  -82.437649,
  28.468208500000003,
  -111.321875,
  42.381546,
  -85.20052899999999,
  41.729338999999996,
  -72.552673,
  43.610534,
  -120.6081585,
  35.3890835,
  -122.035728,
  37.887421,
  -69.2633425,
  44.8369115,
  -71.27864650000001,
  42.2988495,
  -111.86687950000001,
  41.344479,
  -89.0951465,
  40.4869205,
  -103.9002935,
  30.576701,
  -122.934201109926,
  47.676886499999995,
  -88.59325050000001,
  45.3243175,
  -76.5386372304569,
  34.730214000000004,
  -95.058873,
  29.811918,
  -80.2286105,
  25.858540499999997,
  -72.5494765,
  44.3725175,
  -82.71683,
  27.9054175,
  -73.3604655,
  42.193028999999996,
  -73.1352375,
  40.738356499999995,
  -104.147514,
  39.658950000000004,
  -74.0596245,
  41.915051500000004,
  -75.25282899999999,
  41.575254,
  -118.26435599999999,
  33.904607,
  -73.71281183182799,
  40.8404375,
  -106.0525005,
  34.8805985,
  -97.84422799999999,
  26.169366,
  -90.35919150000001,
  38.516396,
  -124.2023315,
  40.786908,
  -106.6084225,
  45.604674,
  -69.46363099999999,
  44.877581500000005,
  -106.077215,
  35.950824999999995,
  -76.891073,
  40.693605500000004,
  -74.3145015,
  42.665958,
  -115.59643750000001,
  40.747766999999996,
  -82.51162,
  27.307999,
  -90.83444349999999,
  44.447751499999995,
  -86.90270699999999,
  33.6308735,
  -81.29039900000001,
  32.3628425,
  -87.997424,
  39.9088305,
  -104.85852349999999,
  40.213972999999996,
  -84.6592095,
  37.883817,
  -91.2388305,
  29.699626,
  -93.3635755,
  39.193557999999996,
  -103.6431295,
  44.4387745,
  -92.7517085,
  38.011885500000005,
  -81.77092350000001,
  34.0009525,
  -77.854592,
  36.756297,
  -89.5611145,
  44.490363,
  -94.1681355,
  33.476333,
  -85.477587,
  34.482903,
  -90.62364450000001,
  37.767873,
  -99.263408,
  33.616431000000006,
  -89.9997345,
  41.4203405,
  -80.56999000778495,
  28.0877165,
  -85.6759485,
  40.26422,
  -110.773469,
  33.384206,
  -75.60641749999999,
  38.7272835,
  -85.59238099999999,
  38.2204275,
  -98.741456,
  37.6751565,
  -85.038046,
  34.8502895,
  -91.6771205,
  29.9143775,
  -119.75951599999999,
  46.2059425,
  -93.65620150000001,
  44.852058,
  -74.3130405,
  40.705692,
  -94.997908,
  35.966040500000005,
  -98.340386,
  35.1062505,
  -75.17183022793265,
  39.2333233033215,
  -96.4311555,
  39.1630455,
  -78.43369100000001,
  40.505492000000004,
  -105.6180935,
  39.7683095,
  -117.6581355,
  47.615831,
  -119.2250695,
  34.16099373876405,
  -120.2208535,
  45.756083000000004,
  -75.05731349999999,
  41.602932499999994,
  -80.38586000000001,
  25.5628165,
  -117.11730349999999,
  33.2240575,
  -97.8147655,
  26.320973000000002,
  -75.18718150000001,
  43.3283925,
  -75.5478795,
  41.508078499999996,
  -82.46592899999999,
  37.151615,
  -82.6150485,
  43.272212499999995,
  -80.6649505,
  26.691395,
  -105.001844,
  39.4805465,
  -81.6482915,
  28.3335455,
  -91.152962,
  30.0144715,
  -84.47712899999999,
  41.861922500000006,
  -83.492524,
  42.4327935,
  -90.1468565,
  30.845685500000002,
  -94.37848,
  36.5765795,
  -92.86780300000001,
  40.731269999999995,
  -84.237707,
  32.5571855,
  -80.9390875,
  26.754248500000003,
  -97.51226399999999,
  28.043716000000003,
  -96.916979,
  33.473478,
  -84.7790425,
  33.871900999999994,
  -74.47890699999999,
  40.799254000000005,
  -99.13291050000001,
  35.2836695,
  -92.16453,
  45.050226,
  -82.0176494384429,
  41.496764999999996,
  -82.4814155,
  34.6190165,
  -95.68606600000001,
  36.147846,
  -85.3489985,
  35.143992,
  -75.8788965,
  43.044586499999994,
  -79.0470715,
  40.770714999999996,
  -95.77887949999999,
  34.9210205,
  -79.85924800000001,
  40.095667,
  -87.348935,
  33.169038,
  -92.6295205,
  38.200809,
  -76.8054195,
  37.548596,
  -73.9622435,
  41.502491500000005,
  -71.22529,
  42.4480435,
  -89.62233549999999,
  42.604009500000004,
  -105.92110550000001,
  35.599577999999994,
  -74.569902,
  39.344293,
  -89.6665485,
  38.969145499999996,
  -74.21578450000001,
  41.488099,
  -73.9606345,
  42.8370135,
  -90.1410915,
  39.04137,
  -93.046509,
  42.5510515,
  -79.9755815,
  39.897146,
  -98.726558,
  40.778172,
  -73.916139,
  41.09172,
  -80.7311725,
  40.01364321799145,
  -78.3927915,
  43.2190995,
  -86.7981805,
  36.424852,
  -85.660249,
  42.956742500000004,
  -110.9594375,
  42.0656915,
  -97.65966549999999,
  42.94634,
  -98.428721,
  46.163137,
  -90.978296,
  37.233826,
  -96.184996,
  40.666963499999994,
  -75.038407,
  43.0104185,
  -84.524662,
  41.9703645,
  -83.7378925,
  30.959736999999997,
  -88.232867,
  37.0058005,
  -89.53491,
  36.898635,
  -121.77986250000001,
  36.951719499999996,
  -121.144616,
  38.663635,
  -85.642901,
  40.335143,
  -97.59451250000001,
  30.673651,
  -76.351421,
  40.097698,
  -87.95351550000001,
  44.4617655,
  -87.315763,
  38.200854,
  -114.935215,
  35.844173,
  -80.254564,
  40.6849285,
  -73.591855,
  40.7609935,
  -77.9396605,
  43.0819675,
  -96.9110815,
  46.849818,
  -95.1740376695565,
  39.561208500000006,
  -87.630048,
  31.0075815,
  -80.3467765,
  42.0191502908401,
  -75.94606300000001,
  40.3336245,
  -94.23745149999999,
  42.032224,
  -93.4556915,
  43.361106,
  -99.9543255,
  31.7338625,
  -85.9196305,
  34.030333999999996,
  -79.2282045,
  41.4110175,
  -76.78563600000001,
  40.8601335,
  -121.168783,
  39.533401999999995,
  -93.9407335,
  29.9776955,
  -100.431601,
  45.541115,
  -94.3179735,
  34.2348105,
  -84.53630100000001,
  39.7448915,
  -84.802115,
  39.1618555,
  -90.1511285,
  41.453497999999996,
  -98.223209,
  40.595378499999995,
  -95.6070585,
  38.6511455,
  -91.14572,
  39.988151,
  -118.04372000000001,
  33.8508915,
  -83.807536,
  35.321449,
  -114.9469445,
  42.9222525,
  -84.32,
  33.453230500000004,
  -81.551603,
  41.2358205,
  -96.68009649999999,
  42.6810445,
  -87.10889900000001,
  39.5993195,
  -122.89703800000001,
  47.0394875,
  -86.36481,
  41.829363,
  -90.6056175,
  32.334408999999994,
  -99.7327665,
  38.9949795,
  -91.12679299999999,
  40.414704,
  -96.5532525,
  32.6514025,
  -119.55631299999999,
  36.681222,
  -86.617091,
  41.671332,
  -96.1110795,
  29.3185955,
  -101.20485049999999,
  43.5751035,
  -84.6358385,
  42.741765,
  -116.1002895,
  40.718646,
  -89.1656295,
  34.1795645,
  -95.724501,
  30.2125375,
  -103.40582950000001,
  46.184131,
  -89.7672345,
  38.721741,
  -98.916892,
  32.7572325,
  -88.965629,
  40.473979,
  -93.2074955,
  45.1054205,
  -92.513304,
  39.3060805,
  -90.027946,
  38.6251935,
  -81.20213749999999,
  35.259313,
  -81.83543,
  33.513004,
  -110.2990485,
  41.328854500000006,
  -74.9634815,
  39.961703,
  -97.0473775,
  39.814139499999996,
  -73.2279730082119,
  44.4673325,
  -86.342615,
  38.3703925,
  -75.4002635,
  38.099616499999996,
  -93.704814,
  46.5250665,
  -85.98386300000001,
  38.239814499999994,
  -74.042865,
  41.1166915,
  -96.826029,
  28.692187,
  -75.65601849999999,
  38.280417,
  -122.924571,
  39.03702800000001,
  -87.3924805,
  37.617885,
  -79.3566125,
  34.4022845,
  -85.224052,
  30.794599499999997,
  -117.09828,
  46.3811025,
  -119.971251933052,
  39.696174,
  -99.25832097721675,
  26.853921,
  -95.32636049999999,
  48.923037,
  -115.7024885,
  43.1242995,
  -95.023519,
  44.9428915,
  -86.008567,
  41.909946000000005,
  -111.93527449999999,
  41.499696,
  -109.5801525,
  36.1503455,
  -122.348086,
  47.508348999999995,
  -77.10412099999999,
  35.5130855,
  -115.9067555,
  33.5147545,
  -86.856801,
  37.400679,
  -91.839425,
  44.9822055,
  -96.7551995,
  37.314933499999995,
  -120.841927,
  45.6635265,
  -75.30688699999999,
  39.948378000000005,
  -108.913757,
  43.010605,
  -88.494119,
  43.614918,
  -84.238421,
  43.6244935,
  -86.3835545,
  41.120947,
  -123.3000155,
  42.991344,
  -91.55447050000001,
  41.290287,
  -95.623165,
  41.3753715,
  -89.3315925,
  42.012958499999996,
  -82.542835,
  35.5395615,
  -92.775306,
  35.0976695,
  -88.805353,
  43.006133500000004,
  -83.60608123468074,
  38.68986609459235,
  -75.757476,
  37.5757585,
  -81.7705705,
  26.4609475,
  -119.15530749999999,
  46.591327,
  -77.712851,
  38.749942000000004,
  -79.51767899999999,
  34.6888115,
  -92.22283250000001,
  39.121528,
  -97.4654565,
  31.149147,
  -86.902229,
  35.823096,
  -82.4328633472732,
  27.702985499999997,
  -96.90153699999999,
  33.0918905,
  -111.787714,
  40.4334415,
  -80.2264495,
  34.077286,
  -95.29743400000001,
  35.579657499999996,
  -85.767675,
  41.5089765,
  -87.6112555,
  33.6633835,
  -75.54787250000001,
  37.9306025,
  -94.084063,
  34.9017795,
  -88.15999450000001,
  42.3335395,
  -92.3741425,
  30.2188005,
  -109.6198115,
  37.2061825,
  -124.062655,
  44.4163265,
  -91.0434275,
  43.783951,
  -85.7799465,
  35.678656000000004,
  -74.43937650000001,
  40.621798,
  -72.72051300000001,
  44.3787605,
  -109.3321775,
  33.0529605,
  -88.5088245,
  42.363344999999995,
  -89.229466,
  31.342865,
  -82.1712455,
  40.0679195,
  -116.2901835,
  48.239112000000006,
  -122.14789250000001,
  48.9497505,
  -81.00380100000001,
  29.1673575,
  -78.62309350000001,
  38.411976499999994,
  -97.975401,
  35.7257955,
  -116.28836150000001,
  32.662855,
  -99.255297,
  37.9371055,
  -73.33020099999999,
  42.035206236525596,
  -111.66626199999999,
  46.474867,
  -76.7372005,
  42.1806685,
  -101.71572549999999,
  32.5249695,
  -84.71659450000001,
  39.165915999999996,
  -75.587186,
  40.400567,
  -102.401881,
  48.316261499999996,
  -74.9498545,
  39.5310175,
  -79.487655,
  40.21659,
  -123.1354815,
  44.0808265,
  -98.3753635,
  30.543594,
  -93.472035,
  45.1994305,
  -111.826008,
  41.324253,
  -84.762347,
  39.190974499999996,
  -86.185951,
  40.964729500000004,
  -79.69742,
  40.3239,
  -74.602143,
  42.8379385,
  -81.262159,
  31.8628925,
  -77.15982199999999,
  38.7688195,
  -109.51108550000001,
  46.344128999999995,
  -111.8264035,
  47.498791,
  -81.845625,
  41.442328,
  -118.113346,
  33.844541,
  -84.1737035,
  33.805421,
  -98.346798,
  48.042874499999996,
  -77.0211425,
  38.5121065,
  -77.92667800000001,
  37.542749,
  -108.330433,
  35.432279,
  -101.786272,
  36.50594552431065,
  -82.476688,
  36.2975155,
  -82.500505,
  35.418890000000005,
  -123.260042,
  38.543227941149,
  -86.9567715,
  34.2455705,
  -98.789358,
  36.6973795,
  -94.679214,
  29.765058,
  -106.37134,
  34.643429,
  -120.656248,
  37.421643,
  -97.079433,
  28.03061699469485,
  -92.55792149999999,
  44.9745575,
  -87.73479649999999,
  41.126443,
  -74.960897,
  43.031476999999995,
  -79.9150825,
  40.910412,
  -122.59806599999999,
  47.332634999999996,
  -87.15154146334774,
  34.98478753287045,
  -74.0025005,
  41.230247000000006,
  -121.1986705,
  38.1387345,
  -91.895115,
  37.9415575,
  -86.835825,
  30.682921,
  -93.39553599999999,
  42.5090745,
  -94.465374,
  44.3179025,
  -117.956593,
  34.557803,
  -83.31458,
  30.689781,
  -89.2214685,
  42.925772,
  -111.4485345,
  46.1635885,
  -114.462399,
  37.714881500000004,
  -98.82738499999999,
  37.357483,
  -85.950683,
  37.6600135
 ],
 "names": [
  "Glen Flora",
  "Brownville",
  "Freeville",
  "Osco",
  "Meadville",
  "Big Creek",
  "Hosston",
  "Delta",
  "Nemaha",
  "Barrville",
  "Lexington",
  "Adams",
  "Taft Heights",
  "Wolf Creek Colony",
  "Jefferson",
  "Turin",
  "McIntyre",
  "Cucumber",
  "Fontenelle",
  "Westgate",
  "Carrsville",
  "Terrebonne",
  "Theresa",
  "Wellington",
  "Hartford",
  "Elberta",
  "Bridger",
  "Hawthorne",
  "Bellflower",
  "Wrenshall",
  "Whiteside",
  "Belpre",
  "Palmona Park",
  "Beaver Creek",
  "Pughtown",
  "Thompson",
  "Arlington",
  "Patterson",
  "Yacolt",
  "Syracuse",
  "Montfort",
  "Clarkton",
  "Thomasboro",
  "Blanchard",
  "Nazareth",
  "Inkster",
  "Opheim",
  "Bessie",
  "Gruver",
  "Roseland",
  "St. Lawrence",
  "White Earth",
  "Cresskill",
  "Corpus Christi",
  "Chapman",
  "Mohall",
  "Natural Bridge",
  "Parnell",
  "Stony Creek",
  "Tarkio",
  "Goree",
  "Ursina",
  "Sanford",
  "Hopeton",
  "Wanblee",
  "Pemberton",
  "Yuba",
  "Avoca",
  "Denhoff",
  "San Castle",
  "Burr Oak",
  "Mamanasco Lake",
  "Rice",
  "Morral",
  "Fabius",
  "Springfield",
  "Lakeview",
  "Hubbard",
  "New Auburn",
  "Copeland",
  "West Rushville",
  "Martin",
  "Daytona Beach",
  "Glen Dale",
  "Ambia",
  "Fidelity",
  "Scranton",
  "Friendsville",
  "Riverside",
  "McFarland",
  "Sullivan",
  "Plover",
  "Lafe",
  "Medora",
  "Carpio",
  "Trumansburg",
  "Magnet",
  "Naples",
  "Wenona",
  "Catalina",
  "Timberlane",
  "Masontown",
  "Marathon",
  "North Brentwood",
  "Forgan",
  "Hitchcock",
  "Sabin",
  "Eagle Bend",
  "Farwell",
  "Impact",
  "Hillsboro",
  "Hampton",
  "Panhandle",
  "Prompton",
  "Conway",
  "Metaline Falls",
  "Walnut Springs",
  "Mill Spring",
  "Chewalla",
  "Denison",
  "Bay Head",
  "Lookout Mountain",
  "Mount Rainier",
  "Farmington",
  "Darbyville",
  "San Bernardino",
  "White Lake",
  "Duarte",
  "Amherst",
  "Voltaire",
  "Johnson",
  "Salamonia",
  "Orrum",
  "Aline",
  "Moore Station",
  "Crowell",
  "Gibbon",
  "Victory Gardens",
  "Dowelltown",
  "Big Lagoon",
  "Landusky",
  "East Lynn",
  "Anson",
  "Plymouth",
  "Agency Village",
  "North Lynbrook",
  "Montgomeryville",
  "Soap Lake",
  "Ringtown",
  "Eagle Bay",
  "Garfield",
  "Blawnox",
  "Girardville",
  "Logansport",
  "Ruston",
  "Kathryn",
  "Hoskins",
  "Trenton",
  "Severy",
  "Anoka",
  "Seven Corners",
  "Swartzville",
  "West Wareham",
  "Magnolia",
  "San Carlos Park",
  "Silver Lake",
  "Stockton",
  "Westwood Lakes",
  "Cypress Landing",
  "Connerville",
  "Burns City",
  "Lawtell",
  "Floyd",
  "Mountain",
  "Burkittsville",
  "Long Lake",
  "Truesdale",
  "Frankton",
  "Joplin",
  "Fayetteville",
  "Brooklawn",
  "Okawville",
  "Ulysses",
  "Allenville",
  "Third Lake",
  "Gurnee",
  "Dansville",
  "San Ysidro",
  "Scottville",
  "Nutter Fort",
  "Pantego",
  "Mitchellville",
  "Coal Creek",
  "Sterling",
  "Mount Olive",
  "Empire City",
  "Washington",
  "Boligee",
  "Forsan",
  "Blockton",
  "Shalimar",
  "Duncan",
  "Dunbar",
  "Bluffton",
  "Gadsden",
  "Wixon Valley",
  "Bowles",
  "Chesapeake Landing",
  "Fayetteville",
  "Shaftsburg",
  "North Johns",
  "Bedford Heights",
  "Hillsboro Beach",
  "Nahunta",
  "Plainview",
  "Danville",
  "Leedey",
  "Goldendale",
  "Loachapoka",
  "Crook",
  "Novice",
  "Hambleton",
  "Jacksonville",
  "Pomeroy",
  "Cumberland Gap",
  "Franklin Springs",
  "Woodmoor",
  "Highlands",
  "Clear Lake",
  "Boston",
  "Leigh",
  "Watson",
  "Geuda Springs",
  "Medon",
  "Liverpool",
  "Richland",
  "Santa Rosa",
  "West Liberty",
  "Wallace",
  "Prospect",
  "Hanson",
  "Onaway",
  "Nauvoo",
  "Antioch",
  "Port Chester",
  "Kenilworth",
  "Canaan",
  "Shreve",
  "Bearden",
  "Ubly",
  "San Acacio",
  "Parkerville",
  "Sinking Spring",
  "El Dara",
  "Barnum",
  "Nunez",
  "Scottsburg",
  "Momeyer",
  "Colon",
  "Brooten",
  "Juniata",
  "Auburndale",
  "Helen",
  "Clear Lake",
  "Kappa",
  "Shady Grove",
  "Lockport",
  "Wellsboro",
  "Carson",
  "Cutler",
  "Daisy",
  "Fort Ashby",
  "Glen Elder",
  "La Feria North",
  "South Lancaster",
  "Wilsonville",
  "St. George",
  "Cudahy",
  "Edgewater",
  "Hemlock",
  "Miramiguoa Park",
  "Clearbrook",
  "Pembine",
  "Golden Valley",
  "Peach Lake",
  "Graton",
  "Gordon",
  "Waverly",
  "Port Dickinson",
  "Strathmore",
  "Rocheport",
  "Walstonburg",
  "Whitley Gardens",
  "Mount Healthy Heights",
  "Paradise Park",
  "Fairfield",
  "Blacklake",
  "Rossmoor",
  "Reddell",
  "Glencoe",
  "Boys Ranch",
  "Washburn",
  "Florida Ridge",
  "Cottonwood",
  "West Belmar",
  "El Rancho",
  "Avoca",
  "Sidman",
  "South Willard",
  "Parkville",
  "Roy Lake",
  "Coral",
  "San Fidel",
  "Kidder",
  "Greenfields",
  "Stacey Street",
  "Hepzibah",
  "Crayne",
  "Defiance",
  "Harris",
  "Royerton",
  "Marlboro",
  "Cienegas Terrace",
  "South Ashburnham",
  "Greenwich",
  "Linwood",
  "Marienthal",
  "Edgewater",
  "East Burke",
  "Cliffside",
  "Swartz",
  "Brenton",
  "Paris",
  "Golden Acres",
  "Enterprise",
  "Herrings",
  "Ardmore",
  "Ebro",
  "Texanna",
  "Lake Montezuma",
  "Lake Camelot",
  "Fords Creek Colony",
  "Sunrise Shores",
  "Finklea",
  "Kendleton",
  "Bucklin",
  "Stronghurst",
  "Arthur",
  "Happy Valley",
  "Friedenswald",
  "Reliance",
  "Hundred",
  "Jacksonville",
  "Iberia",
  "Posen",
  "Lynndyl",
  "Onycha",
  "Westover",
  "Germantown",
  "Califon",
  "Georgetown",
  "Delavan",
  "Jordan Valley",
  "Dundee",
  "Concord",
  "Orange Grove",
  "Hayti",
  "Dalworthington Gardens",
  "Hudson",
  "Coaldale",
  "Hebron",
  "Mineralwells",
  "Spartansburg",
  "Lovington",
  "Ganado",
  "Bangs",
  "Chevy Chase View",
  "River Ridge",
  "Promised Land",
  "Kimberly",
  "Lanham",
  "Lake Carroll",
  "North Grove",
  "Zarephath",
  "Loving",
  "Ridgebury",
  "Woodsville",
  "Maynard",
  "Point View",
  "Encino",
  "Manchester",
  "St. Charles",
  "Freeport",
  "Loch Lynn Heights",
  "Canastota",
  "Clymer",
  "Wakita",
  "Mount Sterling",
  "Elnora",
  "Bentley",
  "Vanlue",
  "Manheim",
  "Mount Penn",
  "Siletz",
  "Dodson",
  "Hawleyville",
  "Riverwood",
  "La Fayette",
  "Mexico",
  "Matlock",
  "Beal City",
  "Republican City",
  "Wheatland",
  "California",
  "Alden",
  "Govan",
  "Moroni",
  "Minor",
  "Concord",
  "Highland Lakes",
  "Bone Gap",
  "Bainbridge",
  "Glidden",
  "Walker Mill",
  "Indianola",
  "Davenport",
  "Daisytown",
  "Stockbridge",
  "Brandywine",
  "Breckenridge",
  "Oglesby",
  "Dodson",
  "St. Clement",
  "Great Notch",
  "Masaryktown",
  "Ak-Chin Village",
  "Ewing",
  "Magazine",
  "Corona",
  "Fargo",
  "Clyde",
  "Beverly Hills",
  "Hilldale",
  "Richvale",
  "Walhalla",
  "Vermont",
  "New Weston",
  "Argo",
  "Alexander City",
  "Algoma",
  "Sioux City",
  "Windham",
  "Barney's Junction",
  "Adams Lake",
  "Kanosh",
  "Slabtown",
  "Danville",
  "West Salem",
  "Wilson",
  "Calwa",
  "Waverly",
  "Scissors",
  "Kenmare",
  "Peppermill Village",
  "New Paris",
  "Millerton",
  "Macon",
  "Medulla",
  "El Prado Estates",
  "South Solon",
  "Far Hills",
  "Perrytown",
  "Taylor Lake Village",
  "South Shore",
  "Wildwood",
  "Browns Valley",
  "Gantt",
  "Templeville",
  "Vassar",
  "New Palestine",
  "Garfield",
  "Emmet",
  "Melrose",
  "Grace",
  "Century",
  "Princeton",
  "Frankenmuth",
  "Independence",
  "Effingham",
  "Lafayette",
  "Ong",
  "Oak Park",
  "Black",
  "Keasbey",
  "South Gorin",
  "Eastport",
  "Mountain Grove",
  "Rockton",
  "Perry",
  "Algona",
  "Fraser",
  "Raton",
  "Norvelt",
  "Pasadena Park",
  "Uhrichsville",
  "Burnsville",
  "Hartley",
  "Wyalusing",
  "Blakeslee",
  "Humphrey",
  "Rhodell",
  "Jena",
  "Mecosta",
  "Freetown",
  "Cleveland",
  "Ingalls",
  "Owatonna",
  "Cherry Valley",
  "St. Libory",
  "Stites",
  "Watkins",
  "Loxley",
  "Steubenville",
  "Tuttle",
  "Keomah Village",
  "Beaver Meadows",
  "Platte",
  "Cankton",
  "Masontown",
  "Tiskilwa",
  "Wheatland",
  "Folcroft",
  "Honeoye Falls",
  "East Tawakoni",
  "Northern Cambria",
  "Shorter",
  "Monroe City",
  "Fairbury",
  "Dover",
  "Pitts",
  "Creola",
  "Mansfield",
  "Oakland",
  "Springerville",
  "Lakeside Park",
  "Hazel Park",
  "Lynwood",
  "Tiburon",
  "Bolivia",
  "Bartlesville",
  "Bennet",
  "Maple Park",
  "Tyrone",
  "Woodland Hills",
  "Spencer",
  "Bourbon",
  "Sullivan",
  "Hidalgo",
  "Eskdale",
  "Smithville",
  "Eastvale",
  "Coulter",
  "Mill Hall",
  "Woodstock",
  "Cove City",
  "Medora",
  "Toronto",
  "Iuka",
  "Otoe",
  "Bergman",
  "Lyons",
  "Orland",
  "Selmer",
  "Riceboro",
  "Pleak",
  "Norwich",
  "Moran",
  "Prospect Park",
  "Coeburn",
  "Brocket",
  "Riverdale",
  "Clear Spring",
  "Hayesville",
  "Canton",
  "Lost Springs",
  "Colona",
  "Foster City",
  "Cedar Point",
  "Cloverport",
  "Lisbon",
  "Alsip",
  "Charlestown",
  "Breckenridge",
  "Naugatuck",
  "Lewes",
  "Akron",
  "Belmont",
  "Buffalo",
  "West Carrollton",
  "Coldwater",
  "Decatur City",
  "Leon",
  "Utica",
  "St. Matthews",
  "Straughn",
  "Greendale",
  "Walkersville",
  "Buckeye",
  "Indiahoma",
  "Garden City",
  "Fruitport",
  "White Plains",
  "Grandview Plaza",
  "Nettleton",
  "Berlin",
  "Rantoul",
  "Rushville",
  "Tiffin",
  "Ackerman",
  "Arcola",
  "Moscow",
  "Dillon",
  "Fruitland",
  "Haworth",
  "Albion",
  "Bellevue",
  "Grand Haven",
  "Columbus",
  "Montezuma",
  "Lake Hallie",
  "Dayton",
  "Lowell",
  "Wyoming",
  "Elba",
  "Calpella",
  "Rowland Heights",
  "Glenpool",
  "Orwin",
  "Indianola",
  "Starr School",
  "Aquadale",
  "Toyah",
  "Fiskdale",
  "View Park-Windsor Hills",
  "Beaver Creek",
  "Lincoln",
  "Cochituate",
  "Pompton Plains",
  "McGuire AFB",
  "Deer Park",
  "Arial",
  "Rushmere",
  "Pinedale",
  "Wakefield",
  "Juliette",
  "Roy",
  "Wapello",
  "Hudson",
  "Carbon Hill",
  "Rathbun",
  "Libertyville",
  "Lenora",
  "Russell Springs",
  "Winterstown",
  "Salton City",
  "Scipio",
  "Weogufka",
  "Northwest Ithaca",
  "Fortuna",
  "Vina",
  "Goshen",
  "Hayti",
  "Riverside",
  "Martin",
  "Raymondville",
  "Lithonia",
  "Shady Shores",
  "Johnson",
  "Antoine",
  "Reno",
  "Teague",
  "Oliver",
  "Tierra Grande",
  "Lingleville",
  "Garretts Mill",
  "Pinopolis",
  "Jarrettsville",
  "Halchita",
  "Glencoe",
  "Hayward",
  "Greens Farms",
  "Sawmill",
  "Gracemont",
  "Jacksboro",
  "Brookville",
  "North Bonneville",
  "Southlake",
  "Stewart",
  "Preakness",
  "Heber-Overgaard",
  "Elkhorn",
  "Lake Panasoffkee",
  "Mogollon",
  "Springdale",
  "Dry Run",
  "Julian",
  "Cullowhee",
  "Bagdad",
  "Edgemoor",
  "Etna",
  "West Cornwall",
  "Farlington",
  "Buffalo",
  "Pine Ridge",
  "Mount Oliver",
  "McAdoo",
  "Honey Grove",
  "Chaparrito",
  "Somerset",
  "Glasgow",
  "Brittany Farms-The Highlands",
  "Piney Green",
  "Choctaw Lake",
  "Trenton",
  "Beech Mountain Lakes",
  "Ancient Oaks",
  "Byron",
  "Levittown",
  "Plum Valley",
  "Blandburg",
  "Wausaukee",
  "St. Michaels",
  "Bakersfield Country Club",
  "Zephyrhills North",
  "Ivanhoe",
  "Fort Hall",
  "Catherine",
  "Wyomissing",
  "Bamberg",
  "Elsmore",
  "Crete",
  "Delmar",
  "Perla",
  "Hughestown",
  "Wildrose",
  "Picture Rocks",
  "Lowell",
  "Radley",
  "Tonopah",
  "East Milton",
  "Stones Landing",
  "Cayce",
  "Igo",
  "Doney Park",
  "Schuyler Lake",
  "Mulberry",
  "Foresthill",
  "East Shoreham",
  "Jesterville",
  "Troy",
  "Spring Ridge",
  "West Hattiesburg",
  "The Lakes",
  "Alzada",
  "Central Heights-Midland City",
  "Lyndhurst",
  "Runville",
  "Midpines",
  "Balmville",
  "Woody Creek",
  "Williamstown",
  "Hamilton",
  "Cahokia Heights",
  "Youngstown",
  "Lott",
  "Lamont",
  "Jackson",
  "South Haven",
  "Canton",
  "Harrisburg",
  "Meadows Place",
  "Republic",
  "Rocky Top",
  "Lino Lakes",
  "Glendale Colony",
  "Edina",
  "Amite City",
  "Stonington",
  "Flemingsburg",
  "Lastrup",
  "Ash Grove",
  "New Hyde Park",
  "Goliad",
  "Spirit Lake",
  "Prentice",
  "Somerville",
  "North Rock Springs",
  "Hoot Owl",
  "Elmore",
  "Lusk",
  "Oakmont",
  "Mills",
  "Holly Springs",
  "Hampden",
  "Langford",
  "Frontier",
  "Powderly",
  "Dearing",
  "Stonewall",
  "Grand Terrace",
  "Nicollet",
  "Kasota",
  "Philomath",
  "Granger",
  "Forest Junction",
  "Templeton",
  "Saukville",
  "White Sulphur Springs",
  "Clute",
  "Hollandale",
  "Berlin",
  "Palm Shores",
  "Fairmont",
  "Hondo",
  "Neligh",
  "Walker",
  "Socorro",
  "Tarlton",
  "Vilas",
  "Bellevue",
  "Bartlett",
  "Bandera",
  "Lawrenceburg",
  "Carrollton",
  "Rainsville",
  "Newport",
  "Jennings",
  "Wrightsboro",
  "North Hyde Park",
  "Deerfield Colony",
  "Lind",
  "Armstrong",
  "Lehighton",
  "Westmont",
  "Langhorne Manor",
  "Chapman",
  "Cavetown",
  "Mount Vernon",
  "Martha",
  "Destin",
  "White Oak",
  "Lowden",
  "Gravette",
  "Herkimer",
  "Winnsboro",
  "Stonewood",
  "Rushville",
  "Ahoskie",
  "Hillandale",
  "Salmon Creek",
  "Tappahannock",
  "Newman",
  "Hazel Green",
  "Strandburg",
  "Leakesville",
  "Kaufman",
  "Hobart",
  "Friendly",
  "Marist College",
  "Victor",
  "Penn Farms",
  "North Industry",
  "Woodford",
  "Oostburg",
  "Excel",
  "Giddings",
  "Mercedes",
  "Fort Gay",
  "Woodstock",
  "Ypsilanti",
  "Ironville",
  "Garrett",
  "Ironton",
  "East End",
  "Bethany",
  "East Highland Park",
  "Triadelphia",
  "Copperopolis",
  "Dillonvale",
  "Omaha",
  "Andrews",
  "Layton",
  "Catalpa Canyon",
  "Brandsville",
  "Newport News",
  "Pottsville",
  "Stockton",
  "Scotts",
  "Renaissance at Monroe",
  "Millerton",
  "Perry",
  "Shidler",
  "Linden",
  "Pleasant Valley",
  "Fulton",
  "Tazewell",
  "Ivanhoe",
  "Squaw Valley",
  "South Gull Lake",
  "McDonald",
  "Crumpton",
  "Lakeview",
  "Congress",
  "Wildwood",
  "Oberlin",
  "Tryon",
  "Truckee",
  "Gore",
  "Kirtland",
  "Placerville",
  "Willits",
  "Aberdeen",
  "St. Clair",
  "Forks",
  "La Crosse",
  "Longboat Key",
  "Valentine",
  "Tarrytown",
  "Troy",
  "New Vienna",
  "Westlake",
  "Normal",
  "Huntington",
  "Sandy Springs",
  "Port Allen",
  "Merigold",
  "Morton",
  "Monroe",
  "Buffalo",
  "Vernal",
  "Summit",
  "Dundee",
  "Hardy",
  "Creston",
  "Sebring",
  "McSherrystown",
  "Franklin",
  "Bowersville",
  "Auburn",
  "La Plant",
  "Old Miakka",
  "Gardner",
  "North Kansas City",
  "Yellow Springs",
  "Ashville",
  "De Queen",
  "Longville",
  "Edgerton",
  "Westphalia",
  "Almedia",
  "Enfield",
  "Akron",
  "Brainerd",
  "Lenox",
  "Newark",
  "Humble",
  "Petersburg",
  "Fort Stockton",
  "Kiowa",
  "South Boston",
  "Augusta",
  "Marquette Heights",
  "Owego",
  "Stuart",
  "Port Lavaca",
  "Holden",
  "Sigurd",
  "Big Lake",
  "Howard Lake",
  "Pinckard",
  "West",
  "Palisade",
  "Zachary",
  "Redstone",
  "Winesburg",
  "Vandervoort",
  "Rison",
  "Isanti",
  "Eagleville",
  "Fairview",
  "Newburg",
  "Ripon",
  "Hallsburg",
  "Centerburg",
  "Cottonwood Heights",
  "Monroeville",
  "Callicoon",
  "Chidester",
  "St. Augustine Beach",
  "Kirtland Hills",
  "Truman",
  "Newport",
  "Independence",
  "Laguna Heights",
  "Oxford",
  "Parrish",
  "Pine Bush",
  "Estero",
  "Warrensburg",
  "Sunfish Lake",
  "Swainsboro",
  "Bellport",
  "Radium",
  "West Union",
  "Yorktown",
  "Eaton",
  "Mount Vernon",
  "Walnut",
  "Locust Grove",
  "Franklin",
  "Ansonia",
  "Brookfield",
  "Widener",
  "Live Oak",
  "Canon",
  "Middle Point",
  "Winchester",
  "Moro",
  "Hoyt Lakes",
  "Rockwell City",
  "Botkins",
  "Archer Lodge",
  "Jonestown",
  "Big Clifty",
  "Catlettsburg",
  "San Ildefonso Pueblo",
  "Madrid",
  "Riverhead",
  "Sturgis",
  "Feather Sound",
  "Cumming",
  "Alfred",
  "Biscoe",
  "Macedon",
  "Copalis Beach",
  "Marrowstone",
  "Lamy",
  "Lewiston",
  "Clinton",
  "Amherst Junction",
  "Madison",
  "Lakewood",
  "Moundville",
  "Bayou Cane",
  "Treasure Lake",
  "Cactus",
  "South Lockport",
  "Mirrormont",
  "Fairfax",
  "Winterville",
  "Big Bend",
  "Vandenberg Village",
  "East Canton",
  "Myers Corner",
  "Rosslyn Farms",
  "Enchanted Oaks",
  "Carlisle",
  "Standing Pine",
  "Siglerville",
  "Tolar",
  "Laytonsville",
  "Canyon",
  "Womelsdorf",
  "Lindenwold",
  "Shingletown",
  "Landingville",
  "Palo",
  "San Juan",
  "Clifton",
  "Marthasville",
  "Gloster",
  "Horse Cave",
  "Glen Alpine",
  "Gridley",
  "Velma",
  "Gilbert",
  "Foyil",
  "Mullins",
  "Shell Lake",
  "Chalmers",
  "Rushmore",
  "Linn Creek",
  "Assaria",
  "Bangor",
  "Los Molinos",
  "Pleasureville",
  "Andover",
  "State Line",
  "Limestone",
  "Cloud Creek",
  "Lazy Acres",
  "Jackson Lake",
  "Morning Glory",
  "Brick Center",
  "Stinson Beach",
  "Preston",
  "Buxton",
  "West Portsmouth",
  "Laguna Park",
  "Pinewood",
  "Wallkill",
  "Manchaca",
  "Fountainebleau",
  "Stowe",
  "Snyderville",
  "Skamokawa Valley",
  "Rockwell",
  "Hutchinson",
  "South Toledo Bend",
  "Bradley Gardens",
  "Cedar Glen Lakes",
  "Pratt",
  "District Heights",
  "New Marshfield",
  "Kaplan",
  "Rosemount",
  "Gateway",
  "Quincy",
  "San Isidro",
  "Redstone",
  "Mountain Gate",
  "East Quincy",
  "Osino",
  "Colonia",
  "Phelan",
  "Sleepy Hollow",
  "Riner",
  "Bainbridge",
  "Jeffrey City",
  "Thermalito",
  "Noblestown",
  "Blackwood",
  "Highland",
  "Fairhaven",
  "Fort Stewart",
  "Lake Land'Or",
  "Forbestown",
  "Clacks Canyon",
  "Yankee Hill",
  "Calpine",
  "Carbonville",
  "Nocatee",
  "Aspen Hill",
  "Clinton",
  "Gray",
  "Malaga",
  "Kansas",
  "Blue Ridge Summit",
  "Bourneville",
  "Meadowbrook",
  "Lyndon",
  "Kingsbury",
  "Lupton",
  "Kapp Heights",
  "Greenwich",
  "Rancho Viejo",
  "Conroy",
  "Hillsdale",
  "Sardis",
  "Galesville",
  "Belva",
  "Spout Springs",
  "Rockville",
  "Chester",
  "SUNY Oswego",
  "Rheems",
  "Catonsville",
  "Lake Viking",
  "Grant",
  "Woodland Park",
  "Jennings",
  "Montrose Manor",
  "Lancaster",
  "Standish",
  "Los Veteranos II",
  "State Line",
  "Post Mountain",
  "Kincora",
  "Conashaugh Lakes",
  "Glenmoor",
  "Townsend",
  "Stoneham",
  "Negley",
  "Madaket",
  "Oak Valley",
  "Summerville",
  "South Point",
  "Pottery Addition",
  "Banquete",
  "Glen Aubrey",
  "Tuba City",
  "Hubbell",
  "Vero Lake Estates",
  "Fort Green Springs",
  "Sardis",
  "Zaleski",
  "Pleasure Bend",
  "The Galena Territory",
  "Newfields",
  "Hebron",
  "Emlyn",
  "Marlton",
  "Dundalk",
  "Gaylordsville",
  "Sage",
  "University of Virginia",
  "Halfway House",
  "Gardiner",
  "Stanley",
  "Kleindale",
  "Canyon Day",
  "Skyline-Ganipa",
  "Little Falls",
  "Romoland",
  "East Brooklyn",
  "Woodbourne",
  "Low Mountain",
  "Green Acres",
  "Elmo",
  "West Haven",
  "Lake Bryan",
  "St. Andrews",
  "Los Huisaches",
  "Garden Grove",
  "Bennington",
  "Wall Lake",
  "West Woodstock",
  "Santa Margarita",
  "San Miguel",
  "Newport",
  "Wellesley",
  "Liberty",
  "Twin Grove",
  "Fort Davis",
  "Brinnon",
  "Townsend",
  "Gloucester",
  "Highlands",
  "West Little River",
  "Worcester",
  "South Highpoint",
  "Great Barrington",
  "Oakdale",
  "Peoria",
  "Hurley",
  "Honesdale",
  "West Rancho Dominguez",
  "Manorhaven",
  "McIntosh",
  "Solis",
  "Concord",
  "Fairhaven",
  "Lame Deer",
  "Hartland",
  "La Mesilla",
  "Port Trevorton",
  "Schoharie",
  "Spring Creek",
  "Southgate",
  "Merrillan",
  "Brookside",
  "Springfield",
  "Broadlands",
  "Platteville",
  "Wilmore",
  "Berwick",
  "Malta Bend",
  "Crook City",
  "Camdenton",
  "Saluda",
  "Lawrenceville",
  "Whiting",
  "Red Lick",
  "Menlo",
  "Bismarck",
  "Seymour",
  "Atkinson",
  "Indialantic",
  "Alexandria",
  "Globe",
  "Bridgeville",
  "Hurstbourne Acres",
  "Pratt",
  "Tunnel Hill",
  "Jeanerette",
  "Prosser",
  "Victoria",
  "Springfield",
  "Grandview",
  "Washita",
  "Fortescue",
  "Zeandale",
  "Mill Run",
  "Downieville-Lawson-Dumont",
  "Fairchild AFB",
  "Channel Islands Beach",
  "Roosevelt",
  "Narrowsburg",
  "Goulds",
  "Hidden Meadows",
  "Yznaga",
  "Remsen",
  "Archbald",
  "Clintwood",
  "Croswell",
  "Belle Glade",
  "Louviers",
  "Four Corners",
  "Bayou Corne",
  "Pittsford",
  "Northville",
  "Franklinton",
  "Pineville",
  "Centerville",
  "Butler",
  "Clewiston",
  "Sinton",
  "Tioga",
  "Hiram",
  "Morristown",
  "Dill City",
  "Glenwood City",
  "Avon Lake",
  "Williamston",
  "Fair Oaks",
  "Signal Mountain",
  "Chittenango",
  "Marion Center",
  "McAlester",
  "Allenport",
  "Coaling",
  "Lake Ozark",
  "West Point",
  "Beacon",
  "Lexington",
  "Monroe",
  "Sunlit Hills",
  "Linwood",
  "New Douglas",
  "Maybrook",
  "Scotia",
  "Brighton",
  "Ackley",
  "Carmichaels",
  "Shelton",
  "Nyack",
  "Benwood",
  "Medina",
  "Greenbrier",
  "Grand Rapids",
  "Cokeville",
  "Tabor",
  "Fullerton",
  "Ellington",
  "Syracuse",
  "Ilion",
  "North Adams",
  "Pavo",
  "Grand Rivers",
  "Miner",
  "Watsonville",
  "Folsom",
  "Summitville",
  "Weir",
  "East Petersburg",
  "Bellevue",
  "Lynnville",
  "Boulder City",
  "Freedom",
  "Westbury",
  "Bergen",
  "West Fargo",
  "Atchison",
  "Perdido",
  "Lake City",
  "West Reading",
  "Grand Junction",
  "Joice",
  "Ballinger",
  "Tidmore Bend",
  "Vowinckel",
  "Sunbury",
  "Clipper Mills",
  "Port Neches",
  "Mobridge",
  "Grannis",
  "West Alexandria",
  "Elizabethtown",
  "Geneseo",
  "Inland",
  "Vassar",
  "Columbus",
  "La Palma",
  "Robbinsville",
  "Bliss",
  "Lovejoy",
  "Peninsula",
  "Elk Point",
  "Carbon",
  "Olympia",
  "Buchanan",
  "Edwards",
  "Ogallah",
  "Carthage",
  "Seagoville",
  "Sanger",
  "Rolling Prairie",
  "Wharton",
  "Corn Creek",
  "Waverly",
  "Carlin",
  "Randolph",
  "Magnolia",
  "Bowman",
  "St. Jacob",
  "Breckenridge",
  "Bloomington",
  "Mounds View",
  "Higbee",
  "Caseyville",
  "Gastonia",
  "Langley",
  "Lyman",
  "Moorestown-Lenola",
  "Washington",
  "South Burlington",
  "Marengo",
  "Girdletree",
  "Aitkin",
  "Lanesville",
  "Spring Valley",
  "Placedo",
  "Eden",
  "Lakeport",
  "Beech Grove",
  "Newtown",
  "Marianna",
  "Clarkston Heights-Vineland",
  "Cold Springs",
  "Siesta Shores",
  "Warroad",
  "Mountain Home",
  "Blomkest",
  "Cassopolis",
  "Mantua",
  "Chinle",
  "White Center",
  "Chocowinity",
  "North Shore",
  "Beaver Dam",
  "Tainter Lake",
  "Burden",
  "Biggs Junction",
  "Drexel Hill",
  "Fort Washakie",
  "Brownsville",
  "Midland",
  "Leiters Ford",
  "Tri-City",
  "Ainsworth",
  "Bentley",
  "Oregon",
  "Biltmore Forest",
  "Oppelo",
  "Jefferson",
  "Manchester",
  "Mappsburg",
  "Florida Gulf Coast University",
  "Basin City",
  "New Baltimore",
  "Scotch Meadows",
  "Hallsville",
  "Morgan's Point Resort",
  "Thompson's Station",
  "Ruskin",
  "The Colony",
  "Highland",
  "St. Charles",
  "Keefton",
  "Benton",
  "Berry",
  "Oak Hall",
  "Waldron",
  "Volo",
  "Crowley",
  "Tselakai Dezza",
  "Waldport",
  "St. Joseph",
  "McMinnville",
  "North Plainfield",
  "Waterbury Center",
  "Morenci",
  "Hartland",
  "Petal",
  "Nashport",
  "East Hope",
  "Peaceful Valley",
  "South Daytona",
  "Elkton",
  "Okarche",
  "Boulevard",
  "Lewis",
  "Canaan",
  "Winston",
  "Breesport",
  "Ackerly",
  "Miami Heights",
  "Bally",
  "Stanley",
  "Buena",
  "Calumet",
  "River Road",
  "Horseshoe Bay",
  "Dayton",
  "Wolf Creek",
  "Hooven",
  "Nyona Lake",
  "Irwin",
  "Ames",
  "Buckhead",
  "Franconia",
  "Shawmut",
  "Fort Shaw",
  "Fairview Park",
  "Lakewood",
  "Stone Mountain",
  "Lakota",
  "Port Tobacco Village",
  "Powhatan",
  "Continental Divide",
  "Texhoma",
  "Jonesborough",
  "Fletcher",
  "Timber Cove",
  "West Point",
  "Avard",
  "Anahuac",
  "Manzano",
  "Cressey",
  "Rockport",
  "Roberts",
  "Sun River Terrace",
  "East Herkimer",
  "Shanor-Northvue",
  "Gig Harbor",
  "Lester",
  "Stony Point",
  "Victor",
  "Doolittle",
  "Harold",
  "Alden",
  "New Ulm",
  "Sun Village",
  "Clyattville",
  "Stoughton",
  "Toston",
  "Bennett Springs",
  "Lake City",
  "Cecilia"
 ]
}
    
    const width = 800;
    const height = 500;
    const margin = 0;
    const xRange = d3.scaleLinear([-128,-68],[0,width]);
    const yRange = d3.scaleLinear([25,51],[height,0]);
    const delaunay = new d3.Delaunay(DATA["array"].map((num,i) => {
      if (i%2===0) return xRange(num);
      else return yRange(num);
    }));
    const svg = d3.create('svg')
    .attr("viewBox", [0, 0, width, height])
    .attr('width',width)
    .attr('height',height)
    .attr('class','hz-scroll')
    .style('overflow','auto')
    .attr('data-map','')
    .style('background','transparent','important')

    const delaunayMesh = d3.path();
    delaunay.render(delaunayMesh);

    svg.append('path')
    .attr('d',delaunayMesh)
    .attr('stroke','var(--primary)')
    .attr('fill','none')

    const delaunayPoints = d3.path();
    delaunay.renderPoints(delaunayPoints,2)

    svg.append('path')
    .attr('d',delaunayPoints)
    .attr('stroke','none')
    .attr('fill','var(--secondary)')

    const delaunayHull = d3.path();

    delaunay.renderHull(delaunayHull)
    svg.append('path')
    .attr('d',delaunayHull)
    .attr('stroke','var(--warning)')
    .attr('stroke-width','2')
    .attr('fill','none')


    const voronoi = delaunay.voronoi([0, 0, 800, 500]);

    const voronoiPath = d3.path();
    voronoi.render(voronoiPath);

    svg.append('path')
    .attr('d',voronoiPath)
    .attr('stroke','var(--error)')
    .attr('stroke-width','1')
    .attr('fill','none')

    container.append(svg.node())

  </script>

  <p>
    The delaunay / vornoi diagram above shows some of the "Places" from the US census beaurau. The lines in the <span class="t-primary bold">primary color</span> represent the Delaunay triangulation of the points, the lines in the <span class="t-warning bold">warning color</span> represent the Delaunay hull of the points, the lines in the <span class="t-error bold">error color</span> color represent the Voronoi diagram for the data, and the points with the <span class="t-secondary bold">secondary color</span> represent the latitude / longitude of the point.
  </p>
  <%-include('../../partials/pagePartial')%>
<%}%>