<%# 
PARTIAL ROUTE: pages/learning-d3/format.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
%>
<%if(locals.fullPageRequest||locals.pageRequest){%>
    
  <h1 class="page-title" id="top-of-page">D3.js Format</h1>
  
  <p>
    Ever noticed how sometimes JavaScript doesn’t display numbers the way you expect? Like, you tried to print tenths with a simple loop:
  </p>
  <%-include('../../partials/pagePartial')%>
<%}%>