<%# 
PARTIAL ROUTE: pages/learning-d3/zoom.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
%>
<%if(locals.fullPageRequest||locals.pageRequest){%>
  
<h1 class="page-title" id="top-of-page">D3.js Zoom</h1>
        
<p>
  Panning and zooming let the user focus on a region of interest by restricting the view. It uses direct manipulation: click-and-drag to pan (translate), spin the wheel to zoom (scale), or pinch with touch. Panning and zooming are widely used in web-based mapping, but can also be used in visualization such as dense time series and scatterplots.
</p>
        
  <%-include('../../partials/pagePartial')%>
<%}%>