<%# 
PARTIAL ROUTE: partials/footer.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------

%>
<footer id="main-footer">
  <div class="flex-row align-center w-100">
    <%-include('./partials/breadcrumbs.ejs')%>
    <span class="body2 flex-row grow-0">
      &copy; <time datetime="2023-11-01" class="pl-1 body2">2024</time>
    </span>
  </div>
  <div class="flex-row align-center justify-between w-100">
    <a href="mailto:fmb201704@gmail.com" target="_blank" class="link" style="margin-right: 4px; color: var(--text-primary);">Email Me</a>
    <strong class="bold body2" style="margin-left: auto;">Frank McKee Brown</strong>
  </div>
</footer>
