<%# 
PARTIAL ROUTE: partials/routes/various-nlp-tasks/keyword-extraction.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.response
%>
<%# 
Keyword Extraction Response
%>

<h3 class="h3 bold bb mt-2">Keyword Extraction Response</h3>
<p class="mt-1">
    <%=locals.response.keywords%>
</p>