<%# 
PARTIAL ROUTE: partials/routes/various-nlp-tasks/summarization.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.response
%>
<%# 
Summarization Response
%>

<h3 class="h3 bold bb mt-2">Summarization Response</h3>
<p class="mt-1">
    <%=locals.response.summary%>
</p>