app.yaml
.env
.gcloudignore
Accounts.md
node_modules
*/node_modules
certificates
*/certificates
temp_storage
random_fav_generator_output
.vscode
configure-css-output
LAMBDA_FUNCTON/node_modules
lambda_functions/certificates
.conda
notebooks/data/*
server/typescript/lexical/ARCHIVE
data
data/*
ssh
.npmrc
NOTES 
REFERENCE
