<%# 
PARTIAL ROUTE: pages/projects/get-file-information.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
%>
<%if(locals.fullPageRequest||locals.pageRequest){%>
     
    <h1 class="page-title">Get File Information</h1>

    <section id="why-create" class="mt-4">
        <h2 class="bold bb-thick h2">
          <a href="#why-create" class="same-page bold">
            Why Create This Page
          </a>
        </h2>


        <p class="mt-2">
            I am creating this page to standardize the methods by which I obtain information about user uploaded files - mainly image, audio, and video (media) files. When a user uploads media or document files, there are various concerns: 
        </p>
        <section id="concerns-uploading-media" class="mt-2">
          <div class="flex-row bb-thick justify-between">
            <h3 class="bold h3">
              <a href="#concerns-uploading-media" class="same-page bold">
                Concerns Uploading Media and Documents
              </a>
            </h3>
            <button type="button" class="small icon-text text warning" data-hide-show="" data-el="#concern-hide">
              <svg data-arrow="" focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="KeyboardArrowUp"><path d="M7.41 15.41 12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>
              <span data-hide="">HIDE</span>
              <span data-show="" hidden="">SHOW</span>
            </button>
          </div>
          <div id="concern-hide">
            <ul>
                <li>
                    <span class="bolder h4">For Image Files:</span>
                    <ol class="second">
                        <li>
                            You need to make sure that the image file does not contain any inappropriate content.
                        </li>
                        <li>
                            You may want to generate a caption for the image in the case that the user did not provide one already (this helps with accessability). This could also be useful for text-to-image search.
                        </li>
                        <li>
                            You want to know the image file format. Different web browsers are capable of showing only some image formats, so you may want to use <a class="secondary link" target="_blank" href="https://imagemagick.org/index.php">ImageMagick</a> to convert the image to a common format that can be displayed by all browsers.
                        </li>
                        <li>
                            You want to know the file size of the image. You want to have a max file size so that images load quickly. 
                        </li>
                        <li>
                            You want to know the width and height of the image. You may need to resize images to different widths and heights to display them at different sizes.  
                        </li>
                        <li>
                            You want to have a vector for the image - this can help with analysis and image search.
                        </li>
                        <li>
                            You want to know whether the image is transparent and you want to know the background color of the image. This way, when you are resizing the image, you know an appropriate background color to use. 
                        </li>
                        <li>
                            You want to know whether the image contains lighter colors or darker colors. This way, when the image is transparent, you know whether to use a white or black background.
                        </li>
                    </ol>
                </li>
                <li>
                    <span class="bolder h4">For Audio Files:</span>
                    <ol class="second">
                        <li>
                            You need to determine the size of an audio file. Most sites only allow files of a certain size to be uploaded. The maximum file size also affects server size and the size requirement for serverless function - if you choose to go in that direction.
                        </li>
                        <li>
                            You need to determine the audio file format and each stream's codec. You need to determine the sample rate, channels, duration, and bit rate of each stream. 
                        </li>
                        <li>
                            You need to determine the start time,duration, bit rate, and number of streams for the audio file.
                        </li>
                        <li>
                            You need to create a <a class="secondary link" target="_blank" href="https://www.simultrans.com/blog/what-is-a-vtt-file">VTT file</a> for the audio file to be used for closed captioning. You can also use the text from this file to determine if the audio is inappropriate.
                        </li>
                    </ol>
                </li>
                <li>
                    <span class="bolder h4">For Video Files:</span>
                    <ol class="second">
                        <li>
                            You need to determine the size of a video file. Most sites only allow files of a certain size to be uploaded. The maximum file size also affects server size and the size requirement for serverless function - if you choose to go in that direction.
                        </li>
                        <li class="fw-regular">
                            You need to do everything that you did for audio files for the audio streams that are encapsulated in the video. 
                        </li>
                        <li>
                            You need to determine the video file format. For each stream, you need to determine the codec type, profile, width, height, aspect ratio, frame rate, number of frames, start time, duration, and bit rate. 
                            <ul>
                                <li>
                                    You can extract each frame and perform a content moderation ML model on each image to make sure that the video does not contain anything inappropriate.
                                </li>
                            </ul>  
                        </li>
                        <li>
                            You need to determine the start time, bit rate, number of streams, probe score, and number of streams encapsulated in the video file.  
                        </li>
                    </ol>
                </li>
                <li>
                    <span class="bolder h4">For Documents:</span>
                    <ol class="second">
                        <li>
                            You need to determine the size of a text document. Most sites only allow files of a certain size to be uploaded.
                        </li>
                        <li>
                            You need to determine the type of document (<span class="text-code">.md</span>, <span class="text-code">.tex</span>, <span class="text-code">.ipynb</span>, <span class="text-code">.docx</span>, ...).
                        </li>
                        <li>
                            If the document contains images, then you need to do everything that you do for image files for every image in the document.
                        </li>
                    </ol>
                </li>
            </ul>
          </div>
        </section>
    </section>

    <section id="image-file-information" class="mt-4">
        <h2 class="bold bb-thick h2">
          <a href="#image-file-information" class="same-page bold">
            Image File Information
          </a>
        </h2>
        <form class="mt-2" hx-post="/projects/get-file-information/image" hx-encoding="multipart/form-data" hx-indicator="#ind_7d35cb57-f0c9-4168-b002-88ebee3cc8ec" hx-target="#tar_697f1fe4-9255-4c13-9df5-06840cf9c281" hx-trigger="submit" hx-swap="innerHTML">
            <label for="image-file" class="bold mt-2">Image File:</label>
            <input data-ignore-change data-image-input type="file" id="image-file" accept="image/*" name="image-file" class="mt-1 secondary">
            <output class="block" for="image-file"></output>

          <div class="flex-row justify-between align-center mt-3">
                <input role="button" value="RESET"  type="reset" aria-label="Reset Form"></input>
                <button type="submit" aria-label="Submit" class="success filled icon-text medium">
                    <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Send"><path d="M2.01 21 23 12 2.01 3 2 10l15 2-15 2z"></path></svg>
                    SUBMIT
                </button>
            </div>
        </form>
        <div class="mt-2 flex-row justify-center t-primary htmx-indicator" role="progressbar" aria-busy="false" aria-label="Getting Image Information" id="ind_7d35cb57-f0c9-4168-b002-88ebee3cc8ec">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <output id="tar_697f1fe4-9255-4c13-9df5-06840cf9c281"></output>
    </section>

    <section id="audio-file-information" class="mt-4">
        <h2 class="bold bb-thick h2">
          <a href="#audio-file-information" class="same-page bold">
            Audio File Information
          </a>
        </h2>
        <form class="mt-2" hx-post="/projects/get-file-information/audio" hx-encoding="multipart/form-data" hx-indicator="#ind_94ecec77-6c38-4791-b324-ca3cd5971f99" hx-target="#tar_0a57a626-d337-4bb2-85ba-98194eee2cf2" hx-trigger="submit" hx-swap="innerHTML"> 
            <label for="audio-file" class="bold mt-2">Audio File:</label>
            <input data-ignore-change data-audio-input type="file" id="audio-file" accept="audio/*" name="audio-file" class="mt-1 primary">
            <output class="block" for="audio-file"></output>

            <div class="flex-row justify-between align-center mt-3">
                  <input role="button" value="RESET"  type="reset" aria-label="Reset Form"></input>
                  <button type="submit" aria-label="Submit" class="success filled icon-text medium">
                      <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Send"><path d="M2.01 21 23 12 2.01 3 2 10l15 2-15 2z"></path></svg>
                      SUBMIT
                  </button>
              </div>
          </form>
          <div class="mt-2 flex-row justify-center t-info htmx-indicator" role="progressbar" aria-busy="false" aria-label="Getting Audio Information" id="ind_94ecec77-6c38-4791-b324-ca3cd5971f99">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <output id="tar_0a57a626-d337-4bb2-85ba-98194eee2cf2"></output>
    </section>

    <section id="video-file-information" class="mt-4">
        <h2 class="bold bb-thick h2">
          <a href="#video-file-information" class="same-page bold">
            Video File Information
          </a>
        </h2>
        <form class="mt-2" hx-post="/projects/get-file-information/video" hx-encoding="multipart/form-data" hx-indicator="#ind_ed29e90a-5fda-4db4-a07c-6f2fa4c62604" hx-target="#tar_ce9dac24-0b71-4c8b-ac9c-9ed6cc2caa90" hx-trigger="submit" hx-swap="innerHTML">
            
            <label for="video-file" class="bold mt-2">Video File:</label>
            <input data-ignore-change data-video-input type="file" id="video-file" accept="video/*" name="video-file" class="mt-1 error">
            <output class="block" for="video-file"></output>

            <div class="flex-row justify-between align-center mt-3">
                  <input role="button" value="RESET"  type="reset" aria-label="Reset Form"></input>
                  <button type="submit" aria-label="Submit" class="success filled icon-text medium">
                      <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Send"><path d="M2.01 21 23 12 2.01 3 2 10l15 2-15 2z"></path></svg>
                      SUBMIT
                  </button>
              </div>
          </form>
        <div class="mt-2 flex-row justify-center t-info htmx-indicator" role="progressbar" aria-busy="false" aria-label="Getting Video Information" id="ind_ed29e90a-5fda-4db4-a07c-6f2fa4c62604"> 
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <output id="tar_ce9dac24-0b71-4c8b-ac9c-9ed6cc2caa90"></output>

    </section>

    <section id="document-information" class="mt-4">
        <h2 class="bold bb-thick h2">
          <a href="#document-information" class="same-page bold">
            Document Information
          </a>
        </h2>
        <p class="mt-2">

        </p>
        <form class="mt-2" hx-post="/projects/get-file-information/text" hx-encoding="multipart/form-data" hx-indicator="#ind_db75d0be-e4e3-4135-b2f4-3f522e857252" hx-target="#tar_37e64793-1c84-463d-8009-0121869ae6c1" hx-trigger="submit" hx-swap="innerHTML">
            <label for="text-file" class="bold">Document Input:</label>
            <input type="file" id="text-file" accept=".bib, .creole, .csv, .dbk, .djot, .docx, .doku, .epub, .fb2, .htm, .html, .ipynb, .jira, .json, .man, .markdown, .md, .mediawiki, .mmd, .muse, .odt, .opml, .org, .ris, .rst, .rtf, .t2t, .tex, .textile, .tiki, .tsv, .twiki, .txt, .typ, .vimwiki, .wiki, .xml" name="text-file" class="mt-1 secondary">
            <output class="block" for="text-file"></output>
            <div class="flex-row justify-between align-center mt-3">
                  <input role="button" value="RESET"  type="reset" aria-label="Reset Form"></input>
                  <button type="submit" aria-label="Submit" class="success filled icon-text medium">
                      <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Send"><path d="M2.01 21 23 12 2.01 3 2 10l15 2-15 2z"></path></svg>
                      SUBMIT
                  </button>
            </div>
        </form>
        <div class="mt-2 flex-row justify-center t-error htmx-indicator" role="progressbar" aria-busy="false" aria-label="Getting Video Information" id="ind_db75d0be-e4e3-4135-b2f4-3f522e857252">  
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div> 
        <output id="tar_37e64793-1c84-463d-8009-0121869ae6c1"></output>
    </section>

    <%-include('../../partials/pagePartial')%>
<%}%>